*,
*::after,
*::before {
    padding: 0;
    margin: 0;
    box-sizing: border-box !important;
    text-decoration: none !important;
    list-style: none;
}
p, span, ul, li, h1, h2, h3, h4, h5, h6{
    margin: 0;
    padding: 0;
    font-weight: 400;
}
button{
    background: none;
    outline: none;
    border: none;
}
.hide {
    opacity: 0 !important;
    display: none !important;
    user-select: none !important;
}
.modal-backdrop{ 
    opacity: 0.7 !important; 
}
.modal{
    --bs-modal-width: auto;
    --bs-modal-padding: none;
    --bs-modal-margin: none;
    --bs-modal-color: $Branco;
    .modal-dialog{
        .modal-content{
            border: none;
        }
    }
}