.contact_page {
    header {
        nav {
            .logo {
                width: 7%;
                height: 100%;
                position: absolute;
                left: 0;
                display: flex;
                align-items: center;
                justify-content: center;
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
    }
    main{ 
        width: 100%;
        height: 99.5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        .contato_Block{
            width: 85%;
            height: 80vh;
            margin-top: 8vh;
            background-color: $White;
            padding: 3vw;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            position: relative;
            border-radius: 2vw;
            .text_Block{
                width: 50%;
                height: 100%;
                h2{
                    color: $Orange2;
                    font-size: 2.5vw;
                }
                p{
                    color: $Blue4;
                    margin-left: 2vw;
                    font-size: 1.35vw;
                    font-family: $Title-font;
                    font-weight: 900;
                }
                .info_block{
                    width: 100%;
                    padding: 4vh 0;
                    color: $Blue4;
                    p{
                        font-size: 1.2vw;
                        margin-right: 7.5vw;
                        font-weight: 900;
                        line-height: 1.8vw;
                    }
                    h1{
                        margin-top: 8vh !important;
                    }
                    h1,h3{
                        font-size: 2vw;
                        margin-top: 6vh;
                        color: $Orange2;
                    }
                    span{
                        font-size: 1.2vw;
                        margin-left: 2vw;
                        font-family: $Title-font;
                        font-weight: 900;
                    }
                    a{
                        position: relative;
                        color: $Blue4;
                        padding: 1vw;
                        i{
                            margin-top: 1.5vh;
                            font-size: 2.5vw;
                        }
                        &:nth-child(5){
                            margin-left: 1vw;
                        }
                        &:hover{
                            i{
                                color: $Orange4;
                            }
                        }
                        
                    }
                }
            }
            .form{
                width: 50%;
                height: 100%;
                padding: 1vw;
                display: flex;
                align-items: center;
                .labels{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    padding: 1vw;
                    padding-bottom: 7vh;
                    position: relative;
                    justify-content: space-between;
                    .BlockBox{
                        width: 100%;
                        height: 6vh;
                        position: relative;
                        margin: 2.5vh 0;
                        background-color: $Gray;
                        border-radius: 1vw;
                        &:nth-child(5){
                            height: 12vh;
                        }
                        input, textarea{
                            width: 85% !important;
                            margin-left: 2.5%;
                            font-size: 0.75vw;
                            color: $Blue4;
                            border: none;
                            background: none;
                            outline: none;
                            padding: 1vh 0 2.5vh 0;
                        }
                        textarea{
                            min-height: 11vh !important;
                            resize: none;
                        }
                        span{
                            font-family: $Main-font;
                            position: absolute;
                            font-style: italic;
                            left: 1vw;
                            top: 0.75vw;
                            font-size: 1.1vw;
                            color: $Blue4;
                            transition: 0.5s;
                            pointer-events: none;
                        }
                        &:nth-child(1), &:nth-child(2){
                            width: 48.5%;
                        }
                    }
                    
                    .BlockBox input:focus ~ span, textarea:focus ~ span, input:valid ~ span, textarea:valid ~ span{
                        transform:translate(-0.5vw, -4.2vh);
                        font-size: 1.1vw;
                        color:$Blue4;
                    }
                    #btn-enviar-contato{
                        position: absolute;
                        font-size: 1vw;
                        background: $Blue4;
                        color: $White;
                        padding: 1vh 1vw;
                        border-radius: 1vw;
                        letter-spacing: 0.05vw;
                        bottom: -1vh;
                        right: 1vw;
                        border: none;
                    }
                }
            }
        }
    } 
}