#Main_contato{
    #body_Contato{
        width: 90%;
        margin: 0 5%;
        min-height: 100vh;
        height: auto;
        position: relative;
        padding: 7.5vh 0 0;
        h1{
            width: 50%;
            font-family: $Main-font;
            font-size: 3.25vw;
            font-weight: 900;
            color: $Branco;
            margin: 10vh auto 0.5vh 0;
            line-height: 6vh;
        }
        h2{
            width: 50%;
            margin: 1.5vh auto 0.5vh 0;
            font-family: $Second-font;
            font-size: 1.15vw;
            font-weight: 400;
            color: $Branco;
            line-height: 3.5vh;
        }
        #formBlock{
            margin-left: auto;
            width: 50%;
            height: 75vh;
            right: 0;
            top: 20%;
            position: absolute;
            h3{
                all: unset;
                display: block;
                width: 100%;
                text-align: center;
                font-family: $Main-font;
                font-weight: 700;
                color: $Branco;
                font-size: 2vw;
            }
            form{
                width: 80%;
                height: 75%;
                margin: 0 10%;
                margin-top: 5vh;
                display: flex;
                flex-direction: column;
                position: relative;
                border-radius: 1vw;
                padding: 1vh 3vw;
                background-color: $Cinzao;
                .BlockBox{
                    width: 100%;
                    height: 10%;
                    position: relative;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    margin: 2vh 0;
                    input, textarea{
                        width: 100% !important;
                        height: 100%;
                        border: none;
                        background: none;
                        outline: none;
                        resize: none;
                        padding: 0 1.25vw;
                        font-family: $Second-font;
                        font-weight: 300;
                        font-size: 0.9vw;
                        color: $Branco;
                        border-bottom: 3px solid $Branco;
                    }
                    p, span{
                        position: absolute;
                        left: 1vw;
                        top: 17.5%;
                        font-family: $Second-font;
                        font-weight: 700;
                        font-size: 1.05vw;
                        color: $Branco;
                        transition: 0.5s;
                        pointer-events: none;
                        display: flex;
                        flex-direction: row;
                    }
                    &:nth-child(1){
                        margin-top: 5vh;
                        span{
                            font-size: 1.1vw;
                            left: 9.25vw;
                            top: 5%;
                            color: $AzulEscuro;
                        }
                    }
                    &:nth-child(2){
                        span{
                            font-size: 1.1vw;
                            left: 4.75vw;
                            top: 5%;
                            color: $AzulEscuro;
                        }
                    }
                    &:nth-child(4){
                        height: 22.5%;
                        margin-top: 1vh;
                        input, textarea{
                            height: 80%;
                            padding: 0.75vh 3vw 0.75vh 1.25vw;
                            padding-right: 3vw;
                            line-height: 3vh;
                        }
                        p{
                            top: 20%;
                        }
                    }
                }
                .BlockBox input:focus ~ p, input:valid ~ p, textarea:focus ~ p, textarea:valid ~ p{
                    transform:translate(-0.75vw, -2.5vh);
                    font-size: 0.9vw;
                }
                .BlockBox input:focus ~ span, input:valid ~ span{
                    transform:translate(-1.5vw, -2.5vh);
                    font-size: 0.9vw;
                }
                button{
                    width: 50%;
                    position: absolute;
                    top: 87.5%;
                    left: 25%;
                }
            }
            #msg_form{
                position: absolute;
                top: 100%;
                left: 0;
                width: 100%;
                max-height: 9vh;
                height: auto;
                overflow: auto;
                padding: 1vh 1vw;
                font-family: $Second-font;
                font-weight: 900;
                font-size: 0.8vw;
                text-align: center;
                color: $AzulEscuro;
            }
        }
        .btnFAQ{
            position: absolute;
            top: 75%;
            left: 0%;
            display: flex;
            align-items: center;
            justify-content: center;
            #QuastionText{
                position: absolute;
                font-family: $Main-font;
                font-weight: 900;
                font-size: 6.5vw;
                color: $Branco;
                top: -3%;
            }
            #CircularText{
                height: 150px;
                width: 150px;
                position: relative;
                animation: circleText 30s linear infinite;
                span{
                    position: absolute;
                    left: 50%;
                    transform-origin: 0px 75px;
                    font-family: $Main-font;
                    text-transform: uppercase;
                    font-weight: 500;
                    font-size: 0.6vw;
                    color: $Branco;
                }
            }
        }
        #ModalResumoFAQ{
            background-color: none;
            .modal-dialog{
                width: 75vw;
                height: 80vh;
                margin: 9vh 0 9vh 15vw;
                border-radius: 1vw;
                overflow: hidden;
                .modal-content{
                    border-radius: 0;
                    background-color: $Cinzinha;
                    width: 75vw;
                    height: 80vh;
                    display: flex;
                    flex-wrap: wrap;
                    padding: 2vh 2vw;
                    justify-content: space-around;
                    flex-direction: unset;
                    .CloseModal{
                        position: absolute;
                        top: 1.5vh;
                        right: 0.75vw;
                        width: 2.5vw;
                        height: 2.5vw;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        transition: all ease-in-out 0.2s;
                        cursor: pointer;
                        z-index: 999 !important;
                        &::before, &::after{
                            content: '';
                            position: absolute;
                            width: 2vw;
                            height: 5px;
                            background-color: $Laranja;
                            border-radius: 1vw;
                            transform: rotate(-45deg);
                        }
                        &::after{
                            transform: rotate(45deg);
                        }
                        &:hover{
                            transform: scale(1.1);
                        }
                    }
                    h3{
                        font-family: $Main-font;
                        font-size: 2.25vw;
                        font-weight: 900;
                        line-height: 4.5vh;
                        color: $AzulEscuro;
                        width: 100%;
                        text-align: left;
                    }
                    .cardModal{
                        all: unset;
                        background-color: $Cinzao;
                        width: 45%;
                        height: 27.5vh;
                        border-radius: 1vw;
                        padding: 2vw;
                        h4{
                            font-family: $Main-font;
                            font-weight: 900;
                            font-size: 1.75vw;
                            color: $AzulEscuro;
                            margin-bottom: 2vh;
                        }
                        p{
                            font-family: $Second-font;
                            font-weight: 400;
                            font-size: 0.85vw;
                            color: $AzulEscuro;
                            line-height: 2.5vh;
                        }
                    }
                }
            }
        }
    }
}