.contact_page {
    main{ 
        width: 100%;
        height: 99.5vh;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 10;
        .contato_Block{
            width: 85%;
            height: 80vh;
            margin-top: 8vh;
            background-color: $White;
            padding: 3vw;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            position: relative;
            border-radius: 2vw;
            .text_Block{
                width: 50%;
                height: 100%;
                h2{
                    color: $Orange2;
                    font-size: 2vw;
                }
                p{
                    color: $Blue4;
                    margin-left: 2vw;
                    font-size: 1.1vw;
                    font-family: $Title-font;
                    font-weight: 700;
                    font-variation-settings: 'SOFT' 100, 'WONK' 1, 'opsz' 9;
                }
                .info_block{
                    width: 100%;
                    padding: 4vh 0;
                    color: $Blue4;
                    p{
                        font-size: 1.1vw;
                        margin-right: 7vw;
                        line-height: 1.8vw;
                        font-family: $Title-font;
                        font-weight: 700;
                        font-variation-settings: 'SOFT' 100, 'WONK' 1, 'opsz' 9;
                    }
                    h1{
                        margin-top: 8vh !important;
                    }
                    h1,h3{
                        font-size: 1.75vw;
                        margin-top: 6vh;
                        color: $Orange2;
                    }
                    .icons{
                        display: flex;
                        a{
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            width: 3.5vw;
                            height: 7vh;
                            margin-left: 1vw;
                            &:nth-child(1){
                                margin-left: 1.5vw;
                            }
                            svg{
                                width: 100%;
                                height: 100%;
                                path{
                                    fill: $Blue5;
                                }
                            }
                            .Whats_P, .Insta_P, .Behance_P, .Email_P{
                                path{
                                    fill: $Orange4;
                                }
                            }
                        }
                    }
                }
            }
            .form{
                width: 50%;
                height: 100%;
                padding: 1vw;
                display: flex;
                align-items: center;
                .labels{
                    width: 100%;
                    display: flex;
                    flex-wrap: wrap;
                    padding: 1vw;
                    padding-bottom: 10vh;
                    position: relative;
                    justify-content: flex-end;
                    .BlockBox{
                        width: 80%;
                        height: 7vh;
                        position: relative;
                        margin: 3vh 0;
                        background-color: $Gray;
                        border-radius: 1vw;
                        display: flex;
                        &:nth-child(5){
                            height: 12vh;
                        }
                        input, textarea{
                            width: 95% !important;
                            margin-left: 2.5%;
                            font-size: 1vw;
                            color: $Orange1;
                            border: none;
                            background: none;
                            outline: none;
                            padding: 2vh 0.5vw;
                            font-family: $Title-font;
                            font-weight: 800;
                            font-variation-settings: 'SOFT' 100, 'WONK' 1, 'opsz' 9;
                        }
                        textarea{
                            min-height: 11vh !important;
                            resize: none;
                        }
                        span{
                            font-family: $Main-font;
                            position: absolute;
                            left: 1vw;
                            top: 1.1vw;
                            font-size: 1.1vw;
                            color: $Blue4;
                            transition: 0.5s;
                            pointer-events: none;
                            font-weight: 100;
                        }
                        &:nth-child(1), &:nth-child(2){
                            width: 38%;
                        }
                        &:nth-child(2){
                            margin-left: 1.3vw;
                        }
                    }
                    .BlockBox input:focus ~ span, textarea:focus ~ span, input:valid ~ span, textarea:valid ~ span{
                        transform:translate(-0.5vw, -5.2vh);
                        font-size: 1.25vw;
                        color:$Blue4;
                    }
                    #Enviar_Contato{
                        position: absolute;
                        font-size: 1vw;
                        background: $Blue4;
                        color: $White;
                        padding: 1vh 1vw;
                        border-radius: 1vw;
                        letter-spacing: 0.05vw;
                        bottom: 0;
                        right: 0;
                        border: none;
                    }
                }
            }
        }
    } 
}


/* Tablet Device = 768px */
@media only screen and (min-width: 768px) and (max-width: 991px) {

    .contact_page {
        main{ 
            height: auto;
            min-height: 100%;
            .contato_Block{
                width: 90%;
                height: auto;
                min-height: auto;
                margin-top: 15vh;
                padding: 2.5vw;
                border-radius: 5vw;
                flex-wrap: wrap;
                .text_Block{
                    width: 100%;
                    height: auto;
                    padding: 0 0 3vh 0;
                    h2{
                        font-size: 5vw;
                        text-align: center;
                        margin: 0;
                        padding: 1vh 0 3vh;
                    }
                    p{
                        font-size: 2.5vw;
                        margin: 0;
                        text-align: center;
                        padding: 1vh 0 2vh;
                    }
                    .info_block{
                        width: 100%;
                        padding: 2vh 0;
                        p{
                            text-align: center;
                            font-size: 2.5vw;
                            margin: 0;
                            padding: 1vh 5vw 4vh;
                            line-height: 2.5vh;
                        }
                        h1,h3{
                            text-align: center;
                            font-size: 3.5vw;
                            margin: 0;
                            padding: 1.5vh 0;
                        }
                        h1{
                            font-size: 4vw;
                            margin: 0 !important;
                        }
                        .icons{
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 2vh 0;
                            a{
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                width: 9vw;
                                height: 7vh;
                                margin:0 1.5vw;
                                &:nth-child(1){
                                    margin:0 1.5vw;
                                }
                            }
                        }
                    }
                }
                .form{
                    width: 100%;
                    height: auto;
                    padding: 1vw;
                    .labels{
                        width: 100%;
                        padding: 1vw 1vw 13vh 1vw;
                        position: relative;
                        justify-content: center;
                        .BlockBox{
                            width: 95%;
                            height: 8vh;
                            margin: 3vh 0;
                            border-radius: 3vw;
                            &:nth-child(5){
                                height: 15vh;
                            }
                            input, textarea{
                                width: 95% !important;
                                margin-left: 2.5%;
                                font-size: 3vw;
                                padding: 2vh 0.5vw;
                            }
                            textarea{
                                min-height: 11vh !important;
                            }
                            span{
                                left: 2vw;
                                top: 2vh;
                                font-size: 3.5vw;
                            }
                            &:nth-child(1), &:nth-child(2){
                                width: 95%;
                            }
                            &:nth-child(2){
                                margin: 3vh 0;
                            }
                        }
                        .BlockBox input:focus ~ span, textarea:focus ~ span, input:valid ~ span, textarea:valid ~ span{
                            transform:translate(-1.5vw, -6.25vh);
                            font-size: 3.75vw;
                        }
                        #Enviar_Contato{
                            font-size: 3.5vw;
                            padding: 1vh 3vw;
                            border-radius: 3vw;
                            letter-spacing: auto;
                            right: auto;
                        }
                    }
                }
            }
        } 
    }

}

/* Wide Mobile = 480px */
@media only screen and (min-width: 480px) and (max-width: 767px) {

    .contact_page {
        main{
            height: auto;
            min-height: 100vh;
            .contato_Block{
                width: 85%;
                height: auto;
                min-height: 100vh;
                margin-top: 15vh;
                padding: 2vw;
                flex-wrap: wrap;
                align-items: center;
                border-radius: 5vw;
                .text_Block{
                    width: 100%;
                    height: auto;
                    padding: 1vh 0 2.5vh;
                    h2{
                        color: $Orange2;
                        font-size: 6vw;
                        text-align: center;
                        padding: 1vh 0;
                        margin: 0;
                    }
                    p{
                        text-align: center;
                        font-size: 3vw;
                        margin: 0;
                        padding: 1vh 0 2vh;
                    }
                    .info_block{
                        width: 100%;
                        padding: 1vh 0 3vh;
                        color: $Blue4;
                        p{
                            font-size: 3vw;
                            line-height: 2vh;
                            margin: 0;
                            padding: 2vh 6vw 4vh;
                            &:nth-child(3){
                                padding: 1vh 6vw 5vh;

                            }
                        }
                        h1{
                            margin: 0 !important;
                            padding: 1vh 7vw 3vh !important;
                        }
                        h1,h3{
                            font-size: 5vw;
                            margin: 0;
                            padding: 1vh 0 1vh;
                            text-align: center;
                        }
                        .icons{
                            justify-content: center;
                            a{
                                width: 12vw;
                                height: 7vh;
                                margin: 0 2vw;
                                &:nth-child(1){
                                    margin: 0 2vw;
                                }
                            }
                        }
                    }
                }
                .form{
                    width: 100%;
                    height: auto;
                    padding: 1vw;
                    display: flex;
                    align-items: center;
                    .labels{
                        width: 100%;
                        padding: 2vh 1vw 7vh 1vw;
                        justify-content: center;
                        .BlockBox{
                            width: 95%;
                            height: 8vh;
                            margin: 2.5vh 0;
                            border-radius: 4vw;
                            &:nth-child(5){
                                height: 12vh;
                            }
                            input, textarea{
                                width: 95% !important;
                                margin-left: 2.5%;
                                font-size: 3.5vw;
                                padding: 2vh 0.5vw;
                            }
                            textarea{
                                min-height: 11vh !important;
                            }
                            span{
                                left: 2vw;
                                top: 2.5vh;
                                font-size: 4vw;
                            }
                            &:nth-child(1), &:nth-child(2){
                                width: 95%;
                            }
                            &:nth-child(2){
                                margin: 2.5vh 0;
                            }
                        }
                        .BlockBox input:focus ~ span, textarea:focus ~ span, input:valid ~ span, textarea:valid ~ span{
                            transform:translate(-1vw, -6vh);
                            font-size: 4.25vw;
                            color:$Blue4;
                        }
                        #Enviar_Contato{
                            font-size: 4vw;
                            padding: 0.5vh 2.5vw;
                            border-radius: 2.5vw;
                            bottom: 1vh;
                            right: auto;
                        }
                    }
                }
            }
        } 
    }

}

/* Small Device = 320px */
@media only screen and (max-width: 479px) {

    .contact_page {
        main{ 
            height: auto;
            min-height: 100vh;
            .contato_Block{
                width: 90%;
                height: auto;
                min-height: 100vh;
                margin-top: 11vh;
                padding: 2vw;
                flex-wrap: wrap;
                border-radius: 7vw;
                .text_Block{
                    width: 100%;
                    height: auto;
                    padding: 1vw;
                    h2{
                        text-align: center;
                        font-size: 6.5vw;
                        margin: 0;
                        padding: 1vh 0;
                    }
                    p{
                        text-align: center;
                        margin-left: 0;
                        font-size: 3.5vw;
                        padding: 1vh 0;
                        margin: 0;
                    }
                    .info_block{
                        width: 100%;
                        padding: 1vh 1vw;
                        p{
                            font-size: 3vw;
                            margin-right: 0;
                            line-height: 1.5vh;
                            padding: 1vh 5vw 3vh;
                        }
                        h1{
                            margin-top: 0 !important;
                            font-size: 4.5vw !important;
                        }
                        h1,h3{
                            font-size: 5.5vw;
                            margin: 0;
                            text-align: center;
                            padding: 3vh 0 2vh;
                        }
                        .icons{
                            justify-content: center;
                            align-items: center;
                            a{
                                width: 11vw;
                                height: 6vh;
                                margin: 1vh 2vw;
                                &:nth-child(1){
                                    margin-left: 0;
                                }
                            }
                        }
                    }
                }
                .form{
                    width: 100%;
                    padding: 1vw;
                    display: flex;
                    align-items: center;
                    height: auto;
                    .labels{
                        width: 100%;
                        padding: 3vh 1vw 8vh;
                        justify-content: center;
                        align-items: center;
                        .BlockBox{
                            width: 95%;
                            height: 8vh;
                            margin: 2vh 0;
                            border-radius: 4vw;
                            &:nth-child(5){
                                height: 13vh;
                            }
                            input, textarea{
                                width: 95% !important;
                                margin-left: 1.5%;
                                font-size: 3.5vw;
                                padding: 2vh 0.5vw;
                            }
                            textarea{
                                min-height: 12vh !important;
                            }
                            span{
                                left: 3vw;
                                top: 2.5vh;
                                font-size: 4vw;
                            }
                            &:nth-child(1), &:nth-child(2){
                                width: 95%;
                                margin: 2vh 0;
                            }
                        }
                        .BlockBox input:focus ~ span, textarea:focus ~ span, input:valid ~ span, textarea:valid ~ span{
                            transform:translate(-2vw, -5.5vh);
                            font-size: 4.4vw;
                        }
                        #Enviar_Contato{
                            font-size: 4vw;
                            padding: 1vh 2.5vw;
                            border-radius: 2vw;
                            letter-spacing: auto;
                            bottom: 1vh;
                            right: auto;
                            border: none;
                        }
                    }
                }
            }
        } 
    }

}