.farol{
    margin-top: 15vh;
    padding: 1vw;
    .aboutUs{
        display: flex;
        flex-wrap: wrap;
        color: $White;
        z-index: 15;
        margin: 6vh 0;
        h2{
            font-family: $Main-font;
            width: 100%;
            text-align: center;
            font-size: 5vmin;
            padding: 1vh 0;
            font-weight: 500;
            margin: 0;
        }
        .iconsFarol{
            width: 40%;
            height: 75vh;
            padding: 0 4vw;
            img{   
                width: 100%;
                height: 100%;
                animation: floater 2.5s ease-in-out infinite;
            }
            .mumu{
                position: absolute;
                width: 4.5vw;
                height: 20vh;
                bottom: 15vh;
                left: 8vw;
                border: none;
                background: none;
            }
        }
        .txtAbout{
            width: 60%;
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 0 9vw;
            p{
                font-size: 2.45vmin;
                font-family: $Title-font;
                font-weight: 300;
                font-variation-settings: 'SOFT' 100, 'WONK' 1, 'opsz' 9;    
                a{
                    font-weight: 900;
                    font-style: italic;
                    color: $White;
                    &:hover{
                        color: $Orange1;
                    }
                }
            }
        }
        
    }
}

/* Tablet Device = 768px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
    
    .farol{
        margin-top: 13vh;
        padding: 1vw;
        .aboutUs{
            margin: 1vh 0 4vh;
            h2{
                font-size: 5.5vmin;
                padding: 1vh 0 3vh;
            }
            .iconsFarol{
                order: 1;
                width: 100%;
                height: 45vh;
                padding: 2vh 6vw;
                .mumu{
                    position: absolute;
                    width: 9vw;
                    height: 14vh;
                    bottom: 5vh;
                    left: 25vw;
                    border: none;
                    background: none;
                }
            }
            .txtAbout{
                order: 2;
                width: 100%;
                text-align: center;
                padding: 4vh 7vw;
                p{
                    font-size: 3vmin;
                }
            }
            
        }
    }

}

/* Small Device = 320px // Wide Mobile = 480px */
@media only screen and (max-width: 767px) {

    .farol{
        margin-top: 14vh;
        padding: 0;
        .aboutUs{
            margin: 1vh 0 5vh;
            h2{
                width: 100%;
                font-size: 8vmin;
                padding: 1vh 0 3vh;
            }
            .iconsFarol{
                order: 1;
                width: 100%;
                height: 50vh;
                padding: 2vh 4vw;
                .mumu{
                    position: absolute;
                    width: 12vw;
                    height: 15vh;
                    bottom:6vh;
                    left: 17vw;
                    border: none;
                    background: none;
                }
            }
            .txtAbout{
                order: 2;
                width: 100%;
                padding: 5vh 8vw 5vh;
                p{
                    text-align: center;
                    font-size: 4vmin;
                }
            }
            
        }
    }

}