@import 'colors_fonts';
*,*::after,*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  list-style: none;
  text-decoration: none !important;
}

@function create-stars($n) {
  $stars: "#{random(3000)}px #{random(9000)}px #FFF";

  @for $i from 2 through $n {
    $stars: "#{$stars} , #{random(3000)}px #{random(9000)}px #FFF";
  }

  @return unquote($stars);
}
@mixin star-template($numStars, $starSize, $scrollSpeed) {
  z-index: 1;
  width: $starSize;
  height: $starSize;
  border-radius: 50%;
  background: transparent;
  box-shadow: create-stars($numStars);
  animation: animStar $scrollSpeed linear infinite;

  &:after {
    content: " ";
    top: -600px;
    width: $starSize;
    height: $starSize;
    border-radius: 50%;
    position: absolute;
    background: transparent;
    box-shadow: create-stars($numStars);
  }
}
@mixin shooting-star-template($numStars, $starSize, $speed) {
  z-index: 2;
  width: $starSize;
  height: $starSize + 80px;
  border-top-left-radius: 50%;
  border-top-right-radius: 50%;
  position: absolute;
  bottom: 0;
  right: 0;
  animation: animShootingStar $speed linear infinite;
  background: linear-gradient(to top,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 1));
}
@mixin shooting-star-template2($numStars, $starSize, $speed) {
  z-index: 2;
  width: 100%;
  height: 100vh;
  position: absolute;
  bottom: -100vh;
  overflow: hidden;

  &::after {
    content: '';
    width: $starSize;
    height: $starSize + 80px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    animation: animShootingStar2 $speed linear infinite;
    background: linear-gradient(to top,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 1));
  }
}
@mixin shooting-star-template3($numStars, $starSize, $speed) {
  z-index: 2;
  width: 100%;
  height: 100vh;
  position: absolute;
  bottom: -200vh;
  overflow: hidden;

  &::after {
    content: '';
    width: $starSize;
    height: $starSize + 80px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    animation: animShootingStar $speed linear infinite;
    background: linear-gradient(to top,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 1));
  }
}
@mixin shooting-star-template4($numStars, $starSize, $speed) {
  z-index: 2;
  width: 100%;
  height: 100vh;
  position: absolute;
  bottom: -400vh;
  overflow: hidden;

  &::after {
    content: '';
    width: $starSize;
    height: $starSize + 80px;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    position: absolute;
    bottom: 0;
    right: 0;
    animation: animShootingStar2 $speed linear infinite;
    background: linear-gradient(to top,
        rgba(255, 255, 255, 0),
        rgba(255, 255, 255, 1));
  }
}
@keyframes animStar {
  from {
    transform: translateY(0);
  }

  to {
    transform: translateY(-120vh) translateX(-50vw);
  }
}
@keyframes animShootingStar {
  from {
    transform: translateY(-5vh) translateX(0px) rotate(-60deg);
    opacity: 1;
    height: 0;
  }

  to {
    transform: translateY(-80vh) translateX(-150vw) rotate(-90deg);
    opacity: 1;
    height: 40vh;
  }
}
@keyframes animShootingStar2 {
  from {
    transform: translateY(-110vh) translateX(-150vw) rotate(120deg);
    opacity: 1;
    height: 0;
  }

  to {
    transform: translateY(0) translateX(10vw) rotate(120deg);
    opacity: 1;
    height: 50vh;
  }
}
@keyframes Anc_caindo {
  from {
    transform: translateY(0);
    opacity: 1;
  }

  to {
    transform: translateY(25vh);
    opacity: 0;
  }
}

::-webkit-scrollbar {
  width: 0.5vw;
  background: $Orange1;
}
::-webkit-scrollbar-thumb {
  background: $Orange4;
  border-radius: 5vw;
}

.hide{ 
  opacity: 0; 
  display: none; 
}

body {
  display: flex;
  flex-wrap: wrap;
  font-family: $Main-font;
  background-color: $Blue5;
  
  .stars {
    @include star-template(2000, 1px, 60s);
    &::before{
      content: '';
      display:block;
      @include star-template(700, 3px, 125s);
    }
    &::after{
      content: '';
      display:block;
      @include star-template(700, 2px, 90s);
    }
  }

  .comet {
    @include shooting-star-template(50, 5px, 12s);
  }
  .comet2 {
    @include shooting-star-template2(50, 5px, 8s);
  }
  .comet3 {
    @include shooting-star-template3(50, 5px, 8s);
  }
  .comet4 {
    @include shooting-star-template4(50, 5px, 8s);
  }

  .toTop {
    display: none;
    position: fixed;
    right: 1vw;
    bottom: 2vh;
    z-index: 998;
    cursor: pointer;
    width: 3vw;
    height: 11vh;
    .Anc{
      width: 100%;
      height: 100%;
      path{
        fill: $White;
      }
    }
    .Anc_Q{
        width: 100%;
        height: 80%;
        margin-top: 2.5vh;
        path{
          fill: $White;
        }
      }
    .caindo{
      animation: Anc_caindo 1.5s;
    }
  }

  header {
    top: 0;
    position: absolute;
    height: 12vh;
    width: 90%;
    left: 5%;
    top: 1vh;
    z-index: 99;
    padding: 1vh;
    nav {
      display: flex;
      height: 100%;
      justify-content: right;
      align-items: center;
      position: relative;
      a {
        padding: 1vh 1vw;
        margin: 0 1vw;
        text-transform: uppercase;
        font-family: $Main-font;
        color: $White;
        font-size: 1.15vw;
        &:hover{
          color: $Orange1;
        }
      }
      .logo {
        height: 100%;
        position: absolute;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 0.5vw;
        margin: 0;
        svg {
            width: 90%;
            height: 100%;
        }
      }
    }
  }

  main{
    width: 100vw;
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;

    .Banner_zoom {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100vw;
      overflow: hidden;
      z-index: 11;
      .images {
        width: 100%;
        height: 100vh;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 100%;
          z-index: 10;         
        }
        .tempes{
          z-index: 9;
          position: absolute;
        }
      }
      .Banner_Text {
        text-align: right;
        position: absolute;
        right: 7.5vw;
        height: 42vh;
        font-family: $Title-font;
        font-variation-settings: 'SOFT' 100, 'WONK' 1, 'opsz' 9;
        z-index: 12;
        .Banner{
          line-height: 6.5vh;
          font-size: 3.3vw;
          color: $White;
          font-weight: 700;
          &:nth-child(4){
            margin-top: 3.5vh;
          }
        }
        .sub{
          line-height: 3vh;
          font-size: 1.35vw;
          font-weight: 500;
        }
        a{
          font-size: 1vw !important;
          color: $White;
          background-color: $Orange2;
          border-radius: 1vw;
          font-weight: 900;
          position: absolute;
          bottom: 0;
          right: 0;
          width: 20%;
          height: 10%;
          display: flex;
          justify-content: center;
          align-items: center;
        }
      }
      .Text_Block {
        text-align: right;
        position: absolute;
        height: 50vh;
        right: 5.5vw;
        bottom: 25%;
        line-height: 5vh;
        font-family: $Title-font;
        font-weight: 500;
        font-variation-settings: 'SOFT' 100, 'WONK' 1, 'opsz' 9;
        .Text{
          opacity: 0;
          font-size: 2vw;
          color: $White;
          line-height: 6vh;
          font-variation-settings: 'SOFT' 100, 'WONK' 1, 'opsz' 9;
        }
      }
    }
  
    .servicos{
      width: 100%;
      height: 100vh;
      display: flex;
      color: $White;
      flex-wrap: wrap;
      padding: 3vw;
      z-index: 5;
      margin-top: 100vh;
      .Block_serv{
        font-family: $Title-font;
        width: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        font-variation-settings: 'SOFT' 100, 'WONK' 1, 'opsz' 9;
        h2{
          font-family: $Main-font;
          font-size: 2.5vw;
          animation: floater 4s ease-in-out infinite;
        }
        p{
          width: 49%;
          text-align: center;
          line-height: 3vh;
          padding: 1vh 0;
          font-weight: 400;
          font-size: 1.2vw;
          animation: floater 4s ease-in-out infinite;
          letter-spacing: 0.1vw;
        }
        a{
          color: $White;
          background-color: $Orange2;
          padding: 1vh 1vw;
          border-radius: 0.75vw;
          font-weight: 900;
          animation: floater 4s ease-in-out infinite;
          border: none;
        }
        &:nth-child(3){
          width: 100%;
          h2{
            animation: floater 2.5s ease-in-out infinite;
          }
          p{
            animation: floater 2.5s ease-in-out infinite;
          }
          a{
            animation: floater 2.5s ease-in-out infinite;
          }
        }
        @keyframes floater {
          0%{transform: translateY(0px)}
          50%{transform: translateY(15px)}
          100%{transform: translateY(0px)}
        }
      }
    }
  
    .duvidas {
      position: relative;
      width: 100%;
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      z-index: 5;
      padding: 1vw;
      h2{
        width: 100%;
        color: $White;
        text-align: left;
        font-size: 2.5vw;
        line-height: 5vh;
        padding: 2vh 0 0 7.5vw;
      }
      .SubTitle{
        padding-left: 7.5vw;
        width: 100%;
        text-align: left;
        color: $White;
        font-size: 1.5vw;
        font-family: $Title-font;
        font-weight: 600;
        padding-bottom: 2vh;
        font-variation-settings: 'SOFT' 100, 'WONK' 1, 'opsz' 9;
      }
      .accordion {
          width: 100%;
          display: flex;
          align-items: center;
          flex-direction: column;
          .card {
            background: none;
            border: none;
            width: 87%;
            padding: 1vh 0;
            position: relative;
            button {
                background: none;
                position: relative;
                display: flex;
                align-items: center;
                padding: 1vh 1.5vw;
                border-radius: 3vw;
                min-height: 10vh;
                border: none;
                h3{
                  font-size: 1.2vw;
                  letter-spacing: 0.05vw;
                  color: $White;
                }
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    background-color: $White;
                    opacity: 0.15;
                    width: 100%;
                    height: 100%;
                    border-radius: 2vw;
                    z-index: -1;
                }
            }
            p {
                padding: 2vh 1vw;
                margin: 0;
                width: 95.5%;
                margin-left: 2vw;
                position: relative;
                color: $White;
                font-size: 1vw;
                font-family: $Title-font;
                font-weight: 700;
                font-variation-settings: 'SOFT' 100, 'WONK' 1, 'opsz' 9;
                &::before {
                    content: '';
                    display: block;
                    position: absolute;
                    left: 0;
                    top: 0;
                    background-color: $White;
                    opacity: 0.3;
                    width: 100%;
                    height: 100%;
                    border-bottom-right-radius: 1vw;
                    border-bottom-left-radius: 1vw;
                    z-index: -1;
                }
            }
            &:nth-child(1){
              margin-top: 3vh;
            }
            .cross{
              width: 20px;
              height: 20px;
              position: absolute;
              right: 2vw;
              top: 6vh;
              transform: translateY(-50%);
            
              &::after,
              &::before{
                content: "";
                display: block;
                position: absolute;
                height: 4px;
                background-color: $Orange1;
                width: 1.3vw;
                top: 50%;
                transition: all .2s ease-in-out; 
                right: 0;
                border-radius: 1vw;
              }
              &::after{
                transform: rotate(90deg);
              }
            }
            &.active{
              .cross{
                &::before{
                  transform: rotate(45deg);
                  right: -2px;
                  width: 15px;
            
                }
                &::after{
                  width: 15px;
                  transform: rotate(-45deg);
                  left: -2px;
                }
              }
            }
          }
      }
      
    }
  
    .contato{
      display: flex;
      position: relative;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      width: 100%;
      height: 100vh;
      color: $White;
      z-index: 5;
      h2{
        font-size: 3.5vw;
      }
      p{
        font-family: $Title-font;
        font-weight: 600;
        font-size: 1.8vw;
        font-variation-settings: 'SOFT' 100, 'WONK' 1, 'opsz' 9;
      }
      .icons{
        padding: 2vh 0;
        display: flex;
        a{
          display: flex;
          align-items: center;
          justify-content: center;
          width: 5vw;
          height: 10vh;
          margin: 3vh 1vw;
          svg{
            width: 100%;
            height: 100%;
            path{
              fill: $White;
            }
          }
        }
        
      }
      .orca{
        font-size: 1.5vw;
        color: $White;
        background-color: $Orange2;
        padding: 0.5vh 1.5vw;
        font-family: $Title-font;
        font-weight: 900;
        border-radius: 1vw;
        margin-top: 2vh;
        border: none;
        transition: 0.5s ease-in-out;
        font-variation-settings: 'SOFT' 100, 'WONK' 1, 'opsz' 9;
        &:hover{
          font-size: 1.75vw;
          transform: translateY(5px);
        }
      }
    }
  }

  footer{
    width: 100%;
    height: 11vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.5vh 0 1.5vh;
    a{
      width: auto;
      height: 100%;
      img{
        height: 90%;
        width: auto;
    }
    }
    
  }

}



/* Tablet Device = 768px */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  

  body {

    .toTop {
      right: 1.5vw;
      bottom: 1vh;
      width: 8vw;
      height: 10vh;
    }
  
    header {
      top: 0;
      nav {
        justify-content: center;
        a {
          padding: 1vh 1vw;
          margin: 0 3vw;
          font-size: 2.75vmin;
        }
        .logo {
          position: relative;
          left: -5vw;
        }
      }
    }
  
    main{
      .Banner_zoom {
        .images {
          justify-content: left;
          img {
            width: auto;
            height: 100%;
            margin-left: -40vw;
          }
        }
        .Banner_Text {
          right: 5vw;
          height: 30vh;
          margin-top: -8vh;
          .Banner{
            line-height: 5vmin;
            font-size: 5.5vmin;
            &:nth-child(4){
              margin-top: 1.5vh;
            }
          }
          .sub{
            line-height: 4vmin;
            font-size: 2.8vmin;
          }
          a{
            padding: 2vh 3vw;
            font-size: 3vmin !important;
            border-radius: 2.5vw;
            width: auto;
          }
        }
        .Text_Block {
          height: auto;
          right: 3vw;
          bottom: 48.5%;
          .Text{
            font-size: 3.25vmin;
            line-height: 6vmin;
          }
        }
      }
    
      .servicos{
        height: auto;
        min-height: 75vh;
        padding: 1vw;
        .Block_serv{
          width: 100%;
          padding: 5vh 0 ;
          h2{
            font-size: 5vmin;
            margin: 0;
            width: 100%;
            padding: 1vh 0 2vh;
            text-align: center;
            animation: floater 3.5s ease-in-out infinite;
            
          }
          p{
            width: 100%;
            line-height: 3.5vmin;
            padding: 1vh 25vw 3vh;
            font-size: 2.5vmin;
            letter-spacing: auto;
            animation: floater 3.5s ease-in-out infinite;
          }
          a{
            padding: 0.75vh 2.5vw;
            border-radius: 2vw;
            animation: floater 3.5s ease-in-out infinite;
            font-size: 2.7vmin;
          }
          &:nth-child(2){
            h2{
              animation: floater 3s ease-in-out infinite;
            }
            p{
              animation: floater 3s ease-in-out infinite;
            }
            a{
              animation: floater 3s ease-in-out infinite;
            }
          }
          &:nth-child(3){
            h2{
              animation: floater 2.5s ease-in-out infinite;
            }
            p{
              animation: floater 2.5s ease-in-out infinite;
            }
            a{
              animation: floater 2.5s ease-in-out infinite;
            }
          }
        }
      }
    
      .duvidas {
        height: auto;
        min-height: 100vh;
        padding: 10vh 0 0;
        h2{
          text-align: center;
          font-size: 5vmin;
          padding: 2vh 0 3vh;
        }
        .SubTitle{
          text-align: center;
          font-size: 2.5vmin;
          padding: 1vh 0 3vh;
        }
        .accordion {
          .card {
            width: 90%;
            padding: 1.5vh 0;
            margin: 0.5vh 0;
            button {
              border: solid yellow;
              padding: 1vh 2.5vw;
              border-radius: 5vw;
              min-height: 10vh;
              border: none;
              h3{
                text-align: left;
                font-size: 2.5vmin;
                letter-spacing: auto;
                color: $White;
                padding: 0 10vw 0 0;
              }
              &::before {
                border-radius: 5vw;
              }
            }
            p {
              padding: 2vh 2vw;
              width: 91%;
              margin-left: 4vw;
              font-size: 2vmin;
              &::before {
                left: 0;
                width: 100%;
                height: 100%;
                border-bottom-right-radius: 2vw;
                border-bottom-left-radius: 2vw;
              }
            }
            &:nth-child(1){
              margin-top: 0;
            }
            .cross{
              right: 3vw;
              top: 50%;
              &::after,
              &::before{
                height: 5px;
                width: 3.25vw;
              }
              
            }
            &.active{
              .cross{
                top: 6vh;
                &::before{
                  transform: rotate(-45deg);
                  right: 1vw;
                  width: 3vw;
                }
                &::after{
                  width: 3vw;
                  transform: rotate(45deg);
                  right: 1vw;
                }
              }
            }
          }
        }
        
      }
    
      .contato{
        h2{
          font-size: 6vmin;
          padding: 1vh 0 2vh;
        }
        p{
          font-size: 2.8vmin;
          padding: 0 0 2vh;

        }
        .icons{
          padding: 3vh 0;
          a{
            width: 11vw;
            height: 10vh;
            margin: 0 2vw;
          }
          
        }
        .orca{
          font-size: 3.5vmin;
          padding: 0.5vh 2vw;
          border-radius: 2.5vw;
          margin-top: 4vh;
          
        }
      }
    }
  
    footer{
      height: 10vh;
      padding: 1vh 0;
    }
  
  }

}

/* Small Device = 320px // Wide Mobile = 480px */
@media only screen and (max-width: 767px) {

  body {
  
    .toTop {
      right: 2vw;
      bottom: 2vh;
      width: 9vw;
      height: 9vh;
    }
  
    header {
      top: 0;
      nav {
        justify-content: center;
        a {
          padding: 1vh 1vw;
          margin: 0 2vw;
          font-size: 3.25vw;
        }
        .logo {
          position: relative;
          left: -1.25vw;
        }
      }
    }
  
    main{
      .Banner_zoom {
        .images {
          justify-content: left;
          img {
            width: auto;
            height: 100%;
            margin-left: -60vw;
            margin-top: -3vh;      
          }
        }
        .Banner_Text {
          right: 5vw;
          height: 25vh;
          margin-top: -16vh;
          .Banner{
            line-height: 5vmin;
            font-size: 5.5vmin;
            &:nth-child(4){
              margin-top: 1.5vh;
            }
          }
          .sub{
            line-height: 4vmin;
            font-size: 3vmin;
          }
          a{
            padding: 1.5vh 2.5vw;
            font-size: 3.5vmin !important;
            border-radius: 2vw;
            width: auto;
          }
        }
        .Text_Block {
          height: auto;
          right: 3vw;
          bottom: 54.5%;
          .Text{
            font-size: 3.25vmin;
            line-height: 6.5vmin;
          }
        }
      }
    
      .servicos{
        min-height: 100vh;
        height: auto;
        .Block_serv{
          width: 100%;
          height: 40vh;
          h2{
            font-size: 6vw;
            margin: 0;
            animation: floater 3s ease-in-out infinite;
          }
          p{
            width: 75%;
            line-height: 3vh;
            padding: 1vh 1vw;
            font-size: 4vw;
            letter-spacing: auto;
            margin: 4vh 0 5vh;
            animation: floater 3s ease-in-out infinite;
          }
          a{
            padding: 0.5vh 3vw;
            border-radius: 3vw;
            animation: floater 3s ease-in-out infinite;
          }
          &:nth-child(2){
            h2{
              animation: floater 2.5s ease-in-out infinite;
            }
            p{
              animation: floater 2.5s ease-in-out infinite;
            }
            a{
              animation: floater 2.5s ease-in-out infinite;
            }
          }
          &:nth-child(3){
            h2{
              animation: floater 2s ease-in-out infinite;
            }
            p{
              animation: floater 2s ease-in-out infinite;
            }
            a{
              animation: floater 2s ease-in-out infinite;
            }
          }
          @keyframes floater {
            50%{transform: translateY(10px)}
          }
        }
      }
    
      .duvidas {
        min-height: 100vh;
        height: auto;

        h2{
          text-align: center;
          font-size: 6vw;
          line-height: 4vh;
          padding: 3.5vh 15vw;
          margin: 0;
        }
        .SubTitle{
          padding: 2vh 20vw ;
          text-align: center;
          font-size: 3.5vw;
          margin: 0;
        }
        .accordion {
          width: 100%;
          .card {
            width: 90%;
            padding: 0;
            margin: 1vh 0;
            button {
              padding: 3vh 10vw 3vh 5vw;
              border-radius: 7vw;
              min-height: auto;
              border: none;
              h3{
                text-align: left;
                font-size: 3.5vw;
                line-height: 3vh;
                letter-spacing: auto;
                margin: 0;
              }
              &::before {
                border-radius: 7vw;
              }
            }
            p {
              padding: 2vh 3vw;
              margin: 0;
              width: 85%;
              margin-left: 6vw;
              font-size: 2.8vw;
              &::before {
                  border-bottom-right-radius: 3vw;
                  border-bottom-left-radius: 3vw;
              }
            }
            &:nth-child(1){
              margin-top: 3vh;
            }
            .cross{
              top: 50%;
              right: 3vw;
              &::after,
              &::before{
                width: 5.5vw;
              }
            }
            &.active{
              .cross{top: 25%;}
            }
          }
        }
      }
    
      .contato{
        h2{
          font-size: 7vw;
        }
        p{
          width: 80%;
          font-size: 4vw;
          padding: 0 13vw;
          text-align: center;
        }
        .icons{
          padding: 2vh 0;
          a{
            width: 15vw;
            height: 8vh;
            margin: 2vh 5vw;
          }
          
        }
        .orca{
          font-size: 4vw;
          padding: 0.5vh 3vw;
          border-radius: 3vw;
          margin-top: 3vh;
          &:hover{
            font-size: 4.1vw;
          }
        }
      }
    }
  
    footer{
      height: 10vh;
      padding: 1.5vh 0;
    }
  
  }

}

@import 'contato';
@import 'servico';
@import 'pacotes_Design_Web';