@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap");
@font-face {
  font-family: "Now";
  src: url("../fonts/Now-Thin.otf") format("opentype");
  font-weight: 200;
  font-display: swap;
}
@font-face {
  font-family: "Now";
  src: url("../fonts/Now-Light.otf") format("opentype");
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: "Now";
  src: url("../fonts/Now-Regular.otf") format("opentype");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Now";
  src: url("../fonts/Now-Medium.otf") format("opentype");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "Now";
  src: url("../fonts/Now-Bold.otf") format("opentype");
  font-weight: 700;
  font-display: swap;
}
@font-face {
  font-family: "Now";
  src: url("../fonts/Now-Black.otf") format("opentype");
  font-weight: 900;
  font-display: swap;
}
*,
*::after,
*::before {
  padding: 0;
  margin: 0;
  box-sizing: border-box !important;
  text-decoration: none !important;
  list-style: none;
}

p, span, ul, li, h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

button {
  background: none;
  outline: none;
  border: none;
}

.hide {
  opacity: 0 !important;
  display: none !important;
  -webkit-user-select: none !important;
     -moz-user-select: none !important;
          user-select: none !important;
}

.modal-backdrop {
  opacity: 0.7 !important;
}

.modal {
  --bs-modal-width: auto;
  --bs-modal-padding: none;
  --bs-modal-margin: none;
  --bs-modal-color: $Branco;
}
.modal .modal-dialog .modal-content {
  border: none;
}

::-webkit-scrollbar {
  width: 0.5vw;
  background: #0C327B;
}

::-webkit-scrollbar-thumb {
  background: #EA6637;
}

@keyframes flikIcon {
  0% {
    transform: rotate(15deg);
  }
  50% {
    transform: rotate(-15deg);
  }
  100% {
    transform: rotate(15deg);
  }
}
@keyframes Anc_caindo {
  from {
    transform: translateY(0);
    opacity: 1;
  }
  to {
    transform: translateY(25vh);
    opacity: 0;
  }
}
@keyframes circleText {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  45% {
    opacity: 1;
  }
  55% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes float {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes Under_line {
  from {
    stroke-dashoffset: 1500;
  }
  to {
    stroke-dashoffset: 0;
  }
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 99.6vw;
  min-height: 100vh;
  height: auto;
  overflow-x: hidden;
  position: relative;
  background-color: #01112E;
}
body .btns {
  font-family: "Maven Pro", sans-serif;
  font-size: 1vw;
  font-weight: 700;
  padding: 0.55vh 1.5vw 0.65vh;
  border-radius: 10vw;
  background-color: #EA6637;
  color: #ECECEC;
  transition: all ease-in-out 0.2s;
}
body .btns:hover {
  transform: scale(1.05);
}
body .btns_Out {
  background: none !important;
  border: 2px solid #EA6637;
}
body header {
  width: 90%;
  height: 85px;
  position: fixed;
  top: 35px;
  padding: 10px 0;
  z-index: 99;
  display: flex;
  align-items: center;
  justify-content: center;
}
body header #logo {
  height: 100%;
  width: 10%;
  display: flex;
  margin-right: auto;
}
body header #logo img, body header #logo svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  transition: all ease-in-out 0.2s;
}
body header #logo img:hover, body header #logo svg:hover {
  transform: scale(1.05);
}
body header button {
  margin-left: 3vw;
  width: 3.5vw;
  height: 80%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 0.2s;
}
body header button:hover {
  transform: scale(1.05);
}
body header button span {
  width: 100%;
  height: 5.5px;
  background-color: #ECECEC;
  border-radius: 2vw;
  position: relative;
}
body header button span::before, body header button span::after {
  position: absolute;
  content: "";
  top: -15px;
  left: 0;
  width: 65%;
  height: 100%;
  background-color: #ECECEC;
  border-radius: 2vw;
}
body header button span::after {
  right: 0;
  left: auto;
  top: 15px;
}
body header #sideMenu {
  position: absolute;
  top: -35px;
  right: -30vw;
  width: 25vw;
  height: 100vh;
  background-color: #ECECEC;
  z-index: 999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
body header #sideMenu::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  background-color: #EA6637;
  width: 100%;
  height: 10vh;
}
body header #sideMenu button {
  position: absolute;
  top: 15px;
  right: 15px;
  width: 2.5vw;
  height: 2.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
body header #sideMenu button::before, body header #sideMenu button::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 6px;
  background-color: #ECECEC;
  border-radius: 3vw;
  transform: rotate(45deg);
}
body header #sideMenu button::after {
  transform: rotate(-45deg);
}
body header #sideMenu .redes {
  position: absolute;
  top: 3vh;
  width: 3vw;
  height: 4.5vh;
  left: 37.5%;
}
body header #sideMenu .redes img, body header #sideMenu .redes svg {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
body header #sideMenu .redes img path, body header #sideMenu .redes svg path {
  stroke-width: 10px;
}
body header #sideMenu .redes img:hover, body header #sideMenu .redes svg:hover {
  animation: flikIcon 0.75s infinite;
}
body header #sideMenu .redes:nth-child(3) {
  left: 52.5%;
}
body header #sideMenu .link_pgs {
  width: 50%;
  font-family: "Now", sans-serif;
  font-size: 1.35vw;
  font-weight: 900;
  text-align: left;
  color: #01112E;
  margin: 3vh 0;
  display: flex;
  align-items: center;
  padding: 0.5vh 0 0.15vh;
  transition: all ease-in-out 0.2s;
}
body header #sideMenu .link_pgs:nth-child(4) {
  margin-top: -15vh;
}
body header #sideMenu .link_pgs:hover {
  transform: scale(1.05);
}
body header #sideMenu .active {
  color: #EA6637;
}
body header #sideMenu #foot {
  width: 90%;
  height: 5vh;
  position: absolute;
  bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body header #sideMenu #foot a {
  font-family: "Maven Pro", sans-serif;
  font-size: 0.8vw;
  font-weight: 700;
  color: #01112E;
}
body header #background_SideMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #01112E;
  opacity: 0.75;
  z-index: 110;
}
body main {
  width: 100%;
  min-height: 100vh;
  height: auto;
  position: relative;
}
body main section {
  width: 100%;
  min-height: 100vh;
  height: auto;
  font-family: "Now", sans-serif;
  color: #ECECEC;
}
body main .toTop {
  position: fixed;
  right: 2vw;
  bottom: 2vh;
  z-index: 999;
  width: 2.75vw;
  height: 11vh;
}
body main .toTop .Anc {
  width: 100%;
  height: 100%;
}
body main .toTop .Anc path {
  fill: #ECECEC;
}
body main .toTop .Anc_Q {
  width: 100%;
  height: 80%;
  margin-top: auto;
  transition: all ease-in-out 2s;
}
body main .toTop .Anc_Q path {
  fill: #ECECEC;
}
body main .toTop .caindo {
  animation: Anc_caindo 1.5s;
}
body footer {
  width: 100%;
  height: 55vh;
  display: flex;
  flex-wrap: wrap;
  padding: 0 5%;
  position: relative;
}
body footer::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 3px;
  left: 10%;
  top: 0;
  background-color: #EA6637;
}
body footer #resume {
  width: 33%;
  height: 90%;
  padding: 7.5vh 0;
  margin-right: auto;
  display: flex;
  flex-direction: column;
}
body footer #resume #logo_foot {
  width: 100%;
  height: 8.5vh;
}
body footer #resume #logo_foot img, body footer #resume #logo_foot svg {
  width: auto;
  height: 100%;
  transition: all ease-in-out 0.2s;
}
body footer #resume #logo_foot img:hover, body footer #resume #logo_foot svg:hover {
  transform: scale(1.05);
}
body footer #resume h4 {
  font-family: "Maven Pro", sans-serif;
  font-size: 1vw;
  font-weight: 500;
  color: #ECECEC;
  line-height: 3vh;
  width: 100%;
  margin-top: 3vh;
  padding-right: 9.5vw;
}
body footer #resume #redes {
  width: 100%;
  height: 4vh;
  display: flex;
  margin-top: 7.5vh;
}
body footer #resume #redes a {
  width: 3vw;
  height: 100%;
  margin-right: 2vw;
}
body footer #resume #redes a img, body footer #resume #redes a svg {
  width: auto;
  height: 100%;
}
body footer #resume #redes a img path, body footer #resume #redes a svg path {
  stroke-width: 10px;
}
body footer #resume #redes a img:hover, body footer #resume #redes a svg:hover {
  animation: flikIcon 1s infinite;
}
body footer #LinksRapido {
  width: 33%;
  height: 90%;
  padding: 7.5vh 0;
  display: flex;
  flex-direction: column;
}
body footer #LinksRapido h4 {
  font-family: "Now", sans-serif;
  font-size: 1.75vw;
  font-weight: 900;
  color: #ECECEC;
  width: 100%;
}
body footer #LinksRapido a {
  font-family: "Maven Pro", sans-serif;
  font-size: 1.15vw;
  font-weight: 400;
  color: #ECECEC;
  width: 50%;
  margin: 1.75vh 0;
  transition: all ease-in-out 0.2s;
}
body footer #LinksRapido a:nth-child(2) {
  margin-top: 4vh;
}
body footer #LinksRapido a:hover {
  transform: scale(1.05);
  margin-left: 0.5vw;
  color: #EA6637;
}
body footer p {
  width: 100%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Now", sans-serif;
  font-size: 1vw;
  font-weight: 700;
  color: #ECECEC;
}
body footer p span {
  margin: 0 0.25vw;
  font-family: "Now", sans-serif;
  font-size: 1vw;
  font-weight: 700;
}
body #Main_index #home {
  height: 100vh;
  position: relative;
  display: flex;
  align-items: center;
  padding: 0 5%;
}
body #Main_index #home #background_home {
  position: absolute;
  width: 94.5vw;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
}
body #Main_index #home #astronauta {
  margin-top: auto;
  width: 30vw;
  height: auto;
  padding: 0 1.5vw;
  animation: float infinite 3s ease-in-out;
  z-index: 2;
  transition: 0.75s ease-in-out all;
  opacity: 0;
}
body #Main_index #home #TitleBlock {
  display: flex;
  flex-wrap: wrap;
  padding-left: 5vw;
}
body #Main_index #home #TitleBlock h1 {
  width: 100%;
  font-family: "Now", sans-serif;
  font-weight: 900;
  color: #ECECEC;
  font-size: 4vw;
  line-height: 6.5vh;
  animation: float infinite 2.5s ease-in-out;
  transition: 0.75s ease-in-out all;
  opacity: 0;
}
body #Main_index #home #TitleBlock h2 {
  width: 100%;
  font-family: "Maven Pro", sans-serif;
  font-weight: 400;
  color: #ECECEC;
  font-size: 1.35vw;
  line-height: 3.5vh;
  padding-right: 15vw;
  margin: 5vh 0 7.5vh;
  animation: float infinite 2.5s ease-in-out;
  transition: 0.75s ease-in-out all;
  opacity: 0;
}
body #Main_index #home #TitleBlock .btn_homePortfolio {
  margin-right: 1.5vw;
  padding: 0.6vh 2vw 0.65vh;
}
body #Main_index #home #TitleBlock a {
  opacity: 0;
  transition: 0.75s ease-in-out all;
}
body #Main_index #home::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  z-index: 10;
  background: linear-gradient(180deg, rgba(1, 17, 46, 0) 0%, rgb(1, 17, 46) 90%);
}
body #Main_index #cases {
  min-height: 100vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7.5vh 0 10vh;
}
body #Main_index #cases h2 {
  width: 90%;
  margin: 0 5%;
  font-family: "Now", sans-serif;
  font-size: 2.5vw;
  font-weight: 900;
  color: #ECECEC;
  letter-spacing: 0.1vw;
}
body #Main_index #cases h3 {
  width: 90%;
  margin: 0.5vh 5%;
  font-family: "Maven Pro", sans-serif;
  font-size: 1.1vw;
  font-weight: 400;
  color: #ECECEC;
}
body #Main_index #cases .caseBlock {
  width: 100%;
  height: auto;
  margin: 5vh 0 2vh;
  display: flex;
}
body #Main_index #cases .caseBlock .infos {
  width: 50%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 10vw;
}
body #Main_index #cases .caseBlock .infos p {
  font-family: "Maven Pro", sans-serif;
  font-size: 2vw;
  font-weight: 400;
  color: #ECECEC;
  line-height: 4vh;
  animation: float infinite 3s ease-in-out;
}
body #Main_index #cases .caseBlock .infos h3 {
  all: unset;
  font-family: "Maven Pro", sans-serif;
  font-size: 1.4vw;
  font-weight: 700;
  color: #ECECEC;
  margin: 3vh 0 8vh;
  animation: float infinite 3s ease-in-out;
}
body #Main_index #cases .caseBlock .infos .btns {
  padding: 0.45vh 3.5vw 0.55vh;
}
body #Main_index #cases .caseBlock .InfoRight {
  align-items: flex-end;
  padding-left: 0;
  padding-right: 10vw;
}
body #Main_index #cases .caseBlock img {
  width: 50%;
  height: auto;
}
body #Main_index #cases .btn_case {
  font-size: 1.25vw;
  margin-top: 10vh;
}
body #Main_index #fluxo {
  width: 87.5%;
  min-height: 100vh;
  height: auto;
  margin: 0 7.5% 0 5%;
  display: flex;
  padding: 10vh 0;
}
body #Main_index #fluxo #stickyHead {
  top: 20vh;
  width: 50%;
  height: 23vh;
  display: flex;
  flex-direction: column;
  position: sticky;
  position: -webkit-sticky;
}
body #Main_index #fluxo #stickyHead h2 {
  font-family: "Now", sans-serif;
  font-size: 2.5vw;
  font-weight: 900;
  color: #ECECEC;
  letter-spacing: 0.1vw;
  padding-right: 8vw;
  margin-bottom: 3vh;
}
body #Main_index #fluxo #stickyHead h3 {
  font-family: "Maven Pro", sans-serif;
  font-size: 1.1vw;
  font-weight: 400;
  color: #ECECEC;
  line-height: 3.5vh;
  padding-right: 15vw;
}
body #Main_index #fluxo #cardsFluxo {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
}
body #Main_index #fluxo #cardsFluxo .cardFluxo {
  overflow: hidden;
  width: 100%;
  height: 45vh;
  background-color: #ECECEC;
  border-radius: 1vw;
  padding: 4vh 2vw;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
}
body #Main_index #fluxo #cardsFluxo .cardFluxo img, body #Main_index #fluxo #cardsFluxo .cardFluxo svg {
  width: 6vw;
  height: auto;
  animation: flikIcon 2s infinite ease-in-out;
}
body #Main_index #fluxo #cardsFluxo .cardFluxo img path, body #Main_index #fluxo #cardsFluxo .cardFluxo svg path {
  stroke: #EA6637;
}
body #Main_index #fluxo #cardsFluxo .cardFluxo h3 {
  font-family: "Now", sans-serif;
  font-size: 2.25vw;
  font-weight: 900;
  color: #0C327B;
  margin: 3.5vh 0;
}
body #Main_index #fluxo #cardsFluxo .cardFluxo p {
  font-family: "Maven Pro", sans-serif;
  font-size: 1vw;
  font-weight: 600;
  color: #0C327B;
  padding-right: 3vw;
}
body #Main_index #entrega {
  width: 90%;
  margin: 0 5%;
  min-height: 75vh;
  height: auto;
  position: relative;
  padding: 10vh 0;
}
body #Main_index #entrega::before {
  content: "";
  position: absolute;
  width: 115.5%;
  height: 100%;
  top: 0;
  left: -10%;
  background-color: #0C327B;
  z-index: -2;
}
body #Main_index #entrega h2 {
  width: 100%;
  font-family: "Now", sans-serif;
  font-size: 2.5vw;
  font-weight: 900;
  color: #ECECEC;
  letter-spacing: 0.1vw;
  text-align: center;
}
body #Main_index #entrega h3 {
  width: 100%;
  font-family: "Maven Pro", sans-serif;
  font-size: 1.1vw;
  font-weight: 400;
  color: #ECECEC;
  text-align: center;
  margin: 1vh 0;
}
body #Main_index #entrega #cardsEntrega {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 5vh;
}
body #Main_index #entrega #cardsEntrega .cardEntrega {
  width: 25%;
  height: 34vh;
  background-color: #ECECEC;
  overflow: hidden;
  border-radius: 1vw;
  position: relative;
  padding: 1.5vw;
  box-shadow: 0px 0px 15px 0px rgba(1, 17, 46, 0.5);
}
body #Main_index #entrega #cardsEntrega .cardEntrega:nth-child(2) {
  margin: 0 2vw;
}
body #Main_index #entrega #cardsEntrega .cardEntrega:nth-child(2) img, body #Main_index #entrega #cardsEntrega .cardEntrega:nth-child(2) svg {
  animation: flikIcon infinite 1.75s ease-in-out;
}
body #Main_index #entrega #cardsEntrega .cardEntrega:nth-child(3) img, body #Main_index #entrega #cardsEntrega .cardEntrega:nth-child(3) svg {
  animation: flikIcon infinite 1.65s ease-in-out backwards;
}
body #Main_index #entrega #cardsEntrega .cardEntrega::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 40%;
  background-color: #EA6637;
  z-index: 1;
}
body #Main_index #entrega #cardsEntrega .cardEntrega img, body #Main_index #entrega #cardsEntrega .cardEntrega svg {
  z-index: 5 !important;
  width: auto;
  height: 9vh;
  position: absolute;
  top: 2.25vh;
  left: 2vw;
  animation: flikIcon infinite 1.5s ease-in-out;
}
body #Main_index #entrega #cardsEntrega .cardEntrega img path, body #Main_index #entrega #cardsEntrega .cardEntrega svg path {
  stroke: #01112E;
  stroke-width: 7px;
}
body #Main_index #entrega #cardsEntrega .cardEntrega h4 {
  font-family: "Now", sans-serif;
  font-size: 1.35vw;
  font-weight: 900;
  color: #01112E;
  margin-top: 14vh;
  line-height: 3vh;
}
body #Main_index #entrega #cardsEntrega .cardEntrega p {
  font-family: "Maven Pro", sans-serif;
  font-size: 1vw;
  font-weight: 400;
  color: #01112E;
  margin-top: 2vh;
  padding-right: 3vw;
}
body #Main_index #nos {
  width: 90%;
  min-height: 100vh;
  height: auto;
  margin: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10vh 0 20vh;
}
body #Main_index #nos h2 {
  width: 100%;
  font-family: "Now", sans-serif;
  font-size: 2.5vw;
  font-weight: 900;
  color: #ECECEC;
  letter-spacing: 0.1vw;
  text-align: center;
  position: relative;
}
body #Main_index #nos h2 #underline {
  position: absolute;
  top: 60%;
  right: 37.5%;
  width: 8vw;
  height: auto;
}
body #Main_index #nos h2 #underline img, body #Main_index #nos h2 #underline svg {
  width: 100%;
  height: auto;
}
body #Main_index #nos h2 #underline img path, body #Main_index #nos h2 #underline svg path {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
}
body #Main_index #nos h2 .animateUnderline img path, body #Main_index #nos h2 .animateUnderline svg path {
  animation: Under_line 1s linear alternate forwards;
}
body #Main_index #nos p {
  font-family: "Maven Pro", sans-serif;
  font-size: 1.35vw;
  font-weight: 400;
  color: #ECECEC;
  text-align: center;
  line-height: 4.5vh;
  width: 50%;
  margin: 6vh 25% 7.5vh;
}
body #Main_index #nos #imgNosBlock {
  width: 70%;
  height: auto;
  margin: 0 15%;
  position: relative;
}
body #Main_index #nos #imgNosBlock img {
  width: 100%;
  height: auto;
  mix-blend-mode: screen;
  border-radius: 1vw;
}
body #Main_index #nos #imgNosBlock #textDescrJulia, body #Main_index #nos #imgNosBlock #textDescrMatheus {
  position: absolute;
  width: 27.5vw;
  height: auto;
  border-radius: 1vw;
  background-color: #ECECEC;
  padding: 3.5vh 2.4vw;
}
body #Main_index #nos #imgNosBlock #textDescrJulia h3, body #Main_index #nos #imgNosBlock #textDescrMatheus h3 {
  width: 100%;
  font-family: "Now", sans-serif;
  font-size: 1.5vw;
  font-weight: 700;
  text-align: center;
  color: #EA6637;
}
body #Main_index #nos #imgNosBlock #textDescrJulia p, body #Main_index #nos #imgNosBlock #textDescrMatheus p {
  all: unset;
  display: block;
  width: 100%;
  font-family: "Maven Pro", sans-serif;
  font-size: 1vw;
  font-weight: 400;
  color: #01112E;
  text-align: justify;
  margin-top: 2.5vh;
}
body #Main_index #nos #imgNosBlock #textDescrJulia {
  top: 85%;
  right: 80%;
}
body #Main_index #nos #imgNosBlock #textDescrMatheus {
  top: 65%;
  left: 80%;
}
body #Main_index #nos #imgNosBlock #textDescrMatheus p {
  font-size: 0.925vw;
}
body #Main_index #contato {
  width: 90%;
  margin: 0 5%;
  min-height: 80vh;
  height: auto;
  position: relative;
  padding: 7.5vh 0;
  display: flex;
  flex-wrap: wrap;
}
body #Main_index #contato::before {
  content: "";
  position: absolute;
  width: 115.5%;
  height: 100%;
  top: 0;
  left: -10%;
  background-color: #C0C0C0;
  z-index: -2;
}
body #Main_index #contato h2 {
  width: 100%;
  font-family: "Now", sans-serif;
  font-size: 2.5vw;
  font-weight: 900;
  color: #01112E;
  letter-spacing: 0.1vw;
}
body #Main_index #contato h3 {
  width: 100%;
  margin: 0.5vh 0;
  font-family: "Maven Pro", sans-serif;
  font-size: 1.1vw;
  font-weight: 400;
  color: #01112E;
}
body #Main_index #contato #redesContato {
  width: 60%;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
body #Main_index #contato #redesContato a {
  display: flex;
  width: 100%;
  margin: 1.75vh 0;
  align-items: center;
}
body #Main_index #contato #redesContato a img, body #Main_index #contato #redesContato a svg {
  width: 2.5vw;
  height: auto;
}
body #Main_index #contato #redesContato a img path, body #Main_index #contato #redesContato a svg path {
  stroke: #0C327B;
  stroke-width: 10px;
}
body #Main_index #contato #redesContato a p {
  font-family: "Maven Pro", sans-serif;
  font-size: 1.1vw;
  font-weight: 500;
  margin-left: 1.25vw;
  color: #0C327B;
}
body #Main_index #contato #redesContato a:hover img, body #Main_index #contato #redesContato a:hover svg {
  animation: flikIcon 0.75s infinite;
}
body #Main_index #contato #redesContato a:hover p {
  color: #EA6637;
}
body #Main_index #contato #formBlock {
  transform: translateY(-10vh);
  width: 40%;
  height: 50vh;
  position: relative;
}
body #Main_index #contato #formBlock h3 {
  all: unset;
  display: block;
  width: 100%;
  text-align: center;
  font-family: "Now", sans-serif;
  font-weight: 700;
  color: #01112E;
  font-size: 1.25vw;
}
body #Main_index #contato #formBlock form {
  width: 75%;
  height: 100%;
  margin: 0 12.5%;
  margin-top: 2vh;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 1vw;
  padding: 1vh 2.5vw;
  background-color: #818181;
}
body #Main_index #contato #formBlock form .BlockBox {
  width: 100%;
  height: 10%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2vh 0;
}
body #Main_index #contato #formBlock form .BlockBox input, body #Main_index #contato #formBlock form .BlockBox textarea {
  width: 100% !important;
  height: 100%;
  border: none;
  background: none;
  outline: none;
  resize: none;
  padding: 0 1.25vw;
  font-family: "Maven Pro", sans-serif;
  font-weight: 300;
  font-size: 0.9vw;
  color: #ECECEC;
  border-bottom: 3px solid #ECECEC;
}
body #Main_index #contato #formBlock form .BlockBox p, body #Main_index #contato #formBlock form .BlockBox span {
  position: absolute;
  left: 1vw;
  top: 10%;
  font-family: "Maven Pro", sans-serif;
  font-weight: 700;
  font-size: 1.05vw;
  color: #ECECEC;
  transition: 0.5s;
  pointer-events: none;
  display: flex;
  flex-direction: row;
}
body #Main_index #contato #formBlock form .BlockBox:nth-child(1) span {
  font-size: 1.1vw;
  left: 9.25vw;
  top: 5%;
  color: #01112E;
}
body #Main_index #contato #formBlock form .BlockBox:nth-child(2) span {
  font-size: 1.1vw;
  left: 4.75vw;
  top: 5%;
  color: #01112E;
}
body #Main_index #contato #formBlock form .BlockBox:nth-child(4) {
  height: 22.5%;
  margin-top: 1vh;
}
body #Main_index #contato #formBlock form .BlockBox:nth-child(4) input, body #Main_index #contato #formBlock form .BlockBox:nth-child(4) textarea {
  height: 90%;
  padding: 0.75vh 3vw 0.75vh 1.25vw;
  padding-right: 3vw;
  line-height: 3vh;
}
body #Main_index #contato #formBlock form .BlockBox:nth-child(4) p {
  top: 20%;
}
body #Main_index #contato #formBlock form .BlockBox input:focus ~ p, body #Main_index #contato #formBlock form input:valid ~ p, body #Main_index #contato #formBlock form textarea:focus ~ p, body #Main_index #contato #formBlock form textarea:valid ~ p {
  transform: translate(-0.75vw, -2.5vh);
  font-size: 0.9vw;
}
body #Main_index #contato #formBlock form .BlockBox input:focus ~ span, body #Main_index #contato #formBlock form input:valid ~ span {
  transform: translate(-1.5vw, -2.5vh);
  font-size: 0.9vw;
}
body #Main_index #contato #formBlock form button {
  width: 60%;
  position: absolute;
  top: 87.5%;
  left: 20%;
}
body #Main_index #contato #formBlock #msg_form {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 9vh;
  height: auto;
  overflow: auto;
  padding: 1vh 1vw;
  font-family: "Maven Pro", sans-serif;
  font-weight: 900;
  font-size: 0.8vw;
  text-align: center;
  color: #01112E;
}
body #Main_index #faq {
  width: 90%;
  min-height: 100vh;
  height: auto;
  margin: 0 5%;
  display: flex;
  flex-direction: column;
  padding: 10vh 0 10vh;
  position: relative;
}
body #Main_index #faq h2 {
  width: 100%;
  font-family: "Now", sans-serif;
  font-size: 2.5vw;
  font-weight: 900;
  color: #ECECEC;
  letter-spacing: 0.1vw;
  text-align: center;
}
body #Main_index #faq h3 {
  width: 100%;
  font-family: "Maven Pro", sans-serif;
  font-size: 1.1vw;
  font-weight: 400;
  color: #ECECEC;
  text-align: center;
  margin: 1.5vh 0;
}
body #Main_index #faq .perguntaBlock {
  width: 50%;
  margin: 2vh 25%;
  min-height: 8.5vh;
  height: auto;
  border-radius: 1vw;
  overflow: hidden;
}
body #Main_index #faq .perguntaBlock:nth-child(3) {
  margin-top: 10vh;
}
body #Main_index #faq .perguntaBlock button {
  background-color: #ECECEC;
  height: 8.5vh;
  width: 100%;
  text-align: left;
  padding: 1.5vw;
  font-family: "Now", sans-serif;
  font-weight: 700;
  font-size: 1.3vw;
  position: relative;
  box-shadow: 0px 0px 10px 0px rgba(1, 17, 46, 0.5);
}
body #Main_index #faq .perguntaBlock button::before, body #Main_index #faq .perguntaBlock button::after {
  content: "";
  position: absolute;
  width: 1.5vw;
  height: 5px;
  top: 47.5%;
  right: 3%;
  background-color: #EA6637;
  border-radius: 1vw;
  transform: rotate(0);
  transition: all ease-in-out 0.2s;
}
body #Main_index #faq .perguntaBlock button::after {
  transform: rotate(90deg);
}
body #Main_index #faq .perguntaBlock .flip::before, body #Main_index #faq .perguntaBlock .flip::after {
  transform: rotate(-45deg);
}
body #Main_index #faq .perguntaBlock .flip::after {
  transform: rotate(45deg);
}
body #Main_index #faq .perguntaBlock #FAQ1, body #Main_index #faq .perguntaBlock #FAQ2, body #Main_index #faq .perguntaBlock #FAQ3, body #Main_index #faq .perguntaBlock #FAQ4 {
  background-color: #C0C0C0;
  padding: 2vh 1.5vw 3vh;
  padding-right: 3.5vw;
  font-family: "Maven Pro", sans-serif;
  font-size: 1vw;
  font-weight: 400;
  color: #0C327B;
}
body #Main_index #cta {
  width: 90%;
  margin: 0 5%;
  min-height: 65vh;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10vh 0;
}
body #Main_index #cta::before {
  content: "";
  position: absolute;
  width: 115.5%;
  height: 100%;
  top: 0;
  left: -10%;
  background-color: #0C327B;
  z-index: -2;
}
body #Main_index #cta h3 {
  width: 100%;
  font-family: "Now", sans-serif;
  font-size: 2.5vw;
  font-weight: 900;
  color: #ECECEC;
  text-align: center;
}
body #Main_index #cta h3 .typer {
  font-weight: 900;
  color: #EA6637;
}
body #Main_index #cta h3 .blink {
  color: #EA6637;
  animation: blink 0.6s infinite alternate;
}
body #Main_index #cta p {
  width: 100%;
  font-family: "Maven Pro", sans-serif;
  font-size: 1.2vw;
  font-weight: 400;
  color: #ECECEC;
  text-align: center;
  margin: 0.5vh 0;
}
body #Main_index #cta .btns {
  margin-top: 12.5vh;
}
body #Main_contato #body_Contato {
  width: 90%;
  margin: 0 5%;
  min-height: 100vh;
  height: auto;
  position: relative;
  padding: 7.5vh 0 0;
}
body #Main_contato #body_Contato h1 {
  width: 50%;
  font-family: "Now", sans-serif;
  font-size: 3.25vw;
  font-weight: 900;
  color: #ECECEC;
  margin: 10vh auto 0.5vh 0;
  line-height: 6vh;
  transition: 0.75s ease-in-out all;
  opacity: 0;
}
body #Main_contato #body_Contato h2 {
  width: 50%;
  margin: 1.5vh auto 0.5vh 0;
  font-family: "Maven Pro", sans-serif;
  font-size: 1.15vw;
  font-weight: 400;
  color: #ECECEC;
  line-height: 3.5vh;
  transition: 0.75s ease-in-out all;
  opacity: 0;
}
body #Main_contato #body_Contato #formBlock {
  margin-left: auto;
  width: 50%;
  height: 75vh;
  right: 0;
  top: 20%;
  position: absolute;
  transition: 0.75s ease-in-out all;
  opacity: 0;
}
body #Main_contato #body_Contato #formBlock h3 {
  all: unset;
  display: block;
  width: 100%;
  text-align: center;
  font-family: "Now", sans-serif;
  font-weight: 700;
  color: #ECECEC;
  font-size: 2vw;
}
body #Main_contato #body_Contato #formBlock form {
  width: 80%;
  height: 75%;
  margin: 0 10%;
  margin-top: 5vh;
  display: flex;
  flex-direction: column;
  position: relative;
  border-radius: 1vw;
  padding: 1vh 3vw;
  background-color: #818181;
}
body #Main_contato #body_Contato #formBlock form .BlockBox {
  width: 100%;
  height: 10%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2vh 0;
}
body #Main_contato #body_Contato #formBlock form .BlockBox input, body #Main_contato #body_Contato #formBlock form .BlockBox textarea {
  width: 100% !important;
  height: 100%;
  border: none;
  background: none;
  outline: none;
  resize: none;
  padding: 0 1.25vw;
  font-family: "Maven Pro", sans-serif;
  font-weight: 300;
  font-size: 0.9vw;
  color: #ECECEC;
  border-bottom: 3px solid #ECECEC;
}
body #Main_contato #body_Contato #formBlock form .BlockBox p, body #Main_contato #body_Contato #formBlock form .BlockBox span {
  position: absolute;
  left: 1vw;
  top: 17.5%;
  font-family: "Maven Pro", sans-serif;
  font-weight: 700;
  font-size: 1.05vw;
  color: #ECECEC;
  transition: 0.5s;
  pointer-events: none;
  display: flex;
  flex-direction: row;
}
body #Main_contato #body_Contato #formBlock form .BlockBox:nth-child(1) {
  margin-top: 5vh;
}
body #Main_contato #body_Contato #formBlock form .BlockBox:nth-child(1) span {
  font-size: 1.1vw;
  left: 9.25vw;
  top: 5%;
  color: #01112E;
}
body #Main_contato #body_Contato #formBlock form .BlockBox:nth-child(2) span {
  font-size: 1.1vw;
  left: 4.75vw;
  top: 5%;
  color: #01112E;
}
body #Main_contato #body_Contato #formBlock form .BlockBox:nth-child(4) {
  height: 22.5%;
  margin-top: 1vh;
}
body #Main_contato #body_Contato #formBlock form .BlockBox:nth-child(4) input, body #Main_contato #body_Contato #formBlock form .BlockBox:nth-child(4) textarea {
  height: 80%;
  padding: 0.75vh 3vw 0.75vh 1.25vw;
  padding-right: 3vw;
  line-height: 3vh;
}
body #Main_contato #body_Contato #formBlock form .BlockBox:nth-child(4) p {
  top: 20%;
}
body #Main_contato #body_Contato #formBlock form .BlockBox input:focus ~ p, body #Main_contato #body_Contato #formBlock form input:valid ~ p, body #Main_contato #body_Contato #formBlock form textarea:focus ~ p, body #Main_contato #body_Contato #formBlock form textarea:valid ~ p {
  transform: translate(-0.75vw, -2.5vh);
  font-size: 0.9vw;
}
body #Main_contato #body_Contato #formBlock form .BlockBox input:focus ~ span, body #Main_contato #body_Contato #formBlock form input:valid ~ span {
  transform: translate(-1.5vw, -2.5vh);
  font-size: 0.9vw;
}
body #Main_contato #body_Contato #formBlock form button {
  width: 50%;
  position: absolute;
  top: 87.5%;
  left: 25%;
}
body #Main_contato #body_Contato #formBlock #msg_form {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  max-height: 9vh;
  height: auto;
  overflow: auto;
  padding: 1vh 1vw;
  font-family: "Maven Pro", sans-serif;
  font-weight: 900;
  font-size: 0.8vw;
  text-align: center;
  color: #01112E;
}
body #Main_contato #body_Contato .btnFAQ {
  position: absolute;
  top: 75%;
  left: 0%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 1.25s ease-in-out all;
  opacity: 0;
}
body #Main_contato #body_Contato .btnFAQ #QuastionText {
  position: absolute;
  font-family: "Now", sans-serif;
  font-weight: 900;
  font-size: 6.5vw;
  color: #ECECEC;
  top: -3%;
}
body #Main_contato #body_Contato .btnFAQ #CircularText {
  height: 150px;
  width: 150px;
  position: relative;
  animation: circleText 30s linear infinite;
}
body #Main_contato #body_Contato .btnFAQ #CircularText span {
  position: absolute;
  left: 50%;
  transform-origin: 0px 75px;
  font-family: "Now", sans-serif;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 0.6vw;
  color: #ECECEC;
}
body #Main_contato #body_Contato #ModalResumoFAQ {
  background-color: none;
}
body #Main_contato #body_Contato #ModalResumoFAQ .modal-dialog {
  width: 75vw;
  height: 80vh;
  margin: 9vh 0 9vh 15vw;
  border-radius: 1vw;
  overflow: hidden;
}
body #Main_contato #body_Contato #ModalResumoFAQ .modal-dialog .modal-content {
  border-radius: 0;
  background-color: #C0C0C0;
  width: 75vw;
  height: 80vh;
  display: flex;
  flex-wrap: wrap;
  padding: 2vh 2vw;
  justify-content: space-around;
  flex-direction: unset;
}
body #Main_contato #body_Contato #ModalResumoFAQ .modal-dialog .modal-content .CloseModal {
  position: absolute;
  top: 1.5vh;
  right: 0.75vw;
  width: 2.5vw;
  height: 2.5vw;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
  z-index: 999 !important;
}
body #Main_contato #body_Contato #ModalResumoFAQ .modal-dialog .modal-content .CloseModal::before, body #Main_contato #body_Contato #ModalResumoFAQ .modal-dialog .modal-content .CloseModal::after {
  content: "";
  position: absolute;
  width: 2vw;
  height: 5px;
  background-color: #EA6637;
  border-radius: 1vw;
  transform: rotate(-45deg);
}
body #Main_contato #body_Contato #ModalResumoFAQ .modal-dialog .modal-content .CloseModal::after {
  transform: rotate(45deg);
}
body #Main_contato #body_Contato #ModalResumoFAQ .modal-dialog .modal-content .CloseModal:hover {
  transform: scale(1.1);
}
body #Main_contato #body_Contato #ModalResumoFAQ .modal-dialog .modal-content h3 {
  font-family: "Now", sans-serif;
  font-size: 2.25vw;
  font-weight: 900;
  line-height: 4.5vh;
  color: #01112E;
  width: 100%;
  text-align: left;
}
body #Main_contato #body_Contato #ModalResumoFAQ .modal-dialog .modal-content .cardModal {
  all: unset;
  background-color: #818181;
  width: 45%;
  height: 27.5vh;
  border-radius: 1vw;
  padding: 2vw;
}
body #Main_contato #body_Contato #ModalResumoFAQ .modal-dialog .modal-content .cardModal h4 {
  font-family: "Now", sans-serif;
  font-weight: 900;
  font-size: 1.75vw;
  color: #01112E;
  margin-bottom: 2vh;
}
body #Main_contato #body_Contato #ModalResumoFAQ .modal-dialog .modal-content .cardModal p {
  font-family: "Maven Pro", sans-serif;
  font-weight: 400;
  font-size: 0.85vw;
  color: #01112E;
  line-height: 2.5vh;
}
body #Main_404 #body_404 {
  width: 100%;
  min-height: 100vh;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 10%;
}
body #Main_404 #body_404 span {
  font-family: "Now", sans-serif;
  font-size: 35vw;
  font-weight: 900;
  color: #ECECEC;
  mix-blend-mode: soft-light;
  opacity: 0.2;
  position: absolute;
  left: 5%;
  top: 5%;
  z-index: 2;
}
body #Main_404 #body_404 video {
  position: absolute;
  width: auto;
  height: 100%;
  right: 0;
  mix-blend-mode: exclusion;
  z-index: 1;
}
body #Main_404 #body_404::before {
  content: "";
  position: absolute;
  top: 0;
  right: 13%;
  width: 17.5%;
  height: 100%;
  z-index: 2;
  background: linear-gradient(-90deg, rgba(1, 17, 46, 0) 0%, rgb(1, 17, 46) 75%);
}
body #Main_404 #body_404 h1 {
  width: 100%;
  font-family: "Now", sans-serif;
  font-size: 3vw;
  font-weight: 900;
  color: #ECECEC;
  transition: 0.75s ease-in-out all;
  opacity: 0;
}
body #Main_404 #body_404 h2 {
  width: 100%;
  font-family: "Maven Pro", sans-serif;
  font-size: 1.25vw;
  font-weight: 400;
  color: #ECECEC;
  margin-top: 5vh;
  transition: 0.75s ease-in-out all;
  opacity: 0;
}
body #Main_404 #body_404 #linksPgs {
  margin: 30vh 0 -15vh;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: auto;
  z-index: 5;
}
body #Main_404 #body_404 #linksPgs h3 {
  width: 100%;
  font-family: "Now", sans-serif;
  font-weight: 900;
  font-size: 2vw;
  color: #ECECEC;
  margin-bottom: 4vh;
  transition: 0.75s ease-in-out all;
  opacity: 0;
}
body #Main_404 #body_404 #linksPgs a {
  font-size: 1.1vw;
  padding: 0.55vh 2vw 0.65vh;
  transition: 0.75s ease-in-out all;
  opacity: 0;
}
body #Main_404 #body_404 #linksPgs a:nth-child(2) {
  margin-right: 3vw;
  display: flex;
  align-items: center;
  justify-content: center;
}
body #Main_PoliticasDePrivacidade #resumoLGPD {
  width: 80%;
  min-height: auto;
  height: auto;
  margin: 0 10%;
  margin-top: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #Main_PoliticasDePrivacidade #resumoLGPD h1 {
  font-family: "Now", sans-serif;
  font-weight: 900;
  font-size: 3vw;
  color: #ECECEC;
  margin-bottom: 5vh;
  transition: 0.75s ease-in-out all;
  opacity: 0;
}
body #Main_PoliticasDePrivacidade #resumoLGPD p {
  font-family: "Maven Pro", sans-serif;
  font-weight: 400;
  font-size: 1vw;
  color: #ECECEC;
  line-height: 3vh;
  transition: 0.75s ease-in-out all;
  opacity: 0;
}
body #Main_PoliticasDePrivacidade #cookies {
  width: 80%;
  min-height: auto;
  height: auto;
  margin: 0 10%;
  margin-top: 12.5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #Main_PoliticasDePrivacidade #cookies h2 {
  width: 100%;
  text-align: center;
  font-family: "Now", sans-serif;
  font-weight: 900;
  font-size: 3vw;
  color: #ECECEC;
  margin-bottom: 5vh;
  transition: 0.75s ease-in-out all;
  opacity: 0;
}
body #Main_PoliticasDePrivacidade #cookies .paragrafo {
  width: 100%;
  height: auto;
  margin: 1.5vh 0 3vh;
}
body #Main_PoliticasDePrivacidade #cookies .paragrafo h3 {
  font-family: "Maven Pro", sans-serif;
  font-size: 1vw;
  color: #ECECEC;
  font-weight: 300;
  line-height: 3.5vh;
}
body #Main_PoliticasDePrivacidade #cookies .paragrafo h3 span {
  font-size: 1.3vw;
  font-weight: 800;
  margin-right: 1vw;
}
body #Main_PoliticasDePrivacidade #cookies a {
  width: 100%;
  font-family: "Maven Pro", sans-serif;
  font-weight: 300;
  color: #C0C0C0;
  text-decoration: underline;
  font-size: 1vw;
  margin: 0.5vh 0;
}
body #Main_PoliticasDePrivacidade #cookies a span {
  font-weight: 800;
  font-size: 1.2vw;
  color: #ECECEC;
  margin-right: 0.5vw;
}
body #Main_PoliticasDePrivacidade #cookies a:hover {
  color: #EA6637;
}
body #Main_PoliticasDePrivacidade #cookies a:hover span {
  color: #ECECEC;
}
body #Main_PoliticasDePrivacidade #cookies a:nth-child(9) {
  margin-bottom: 7.5vh;
}
body #Main_PoliticasDePrivacidade #cookies .paragrafo_list {
  width: 100%;
  height: auto;
  margin: 1.5vh 0 3vh;
}
body #Main_PoliticasDePrivacidade #cookies .paragrafo_list h3 {
  font-family: "Maven Pro", sans-serif;
  color: #ECECEC;
  line-height: 3.5vh;
  font-size: 1.5vw;
  font-weight: 800;
}
body #Main_PoliticasDePrivacidade #cookies .paragrafo_list h3 span {
  margin-right: 1vw;
  font-weight: 300;
  font-size: 1vw;
}
body #Main_PoliticasDePrivacidade #cookies .paragrafo_list p {
  font-family: "Maven Pro", sans-serif;
  color: #ECECEC;
  line-height: 3.5vh;
  font-weight: 300;
  font-size: 0.9vw;
  margin: 2vh 0;
  padding-left: 1vw;
  position: relative;
}
body #Main_PoliticasDePrivacidade #cookies .paragrafo_list p span {
  font-size: 1.1vw;
  margin-right: 0.5vw;
  font-weight: 700;
}
body #Main_PoliticasDePrivacidade #cookies .paragrafo_list p::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 0;
  width: 3px;
  height: 3px;
  background-color: #ECECEC;
  border-radius: 100%;
}
body #Main_PoliticasDePrivacidade #finais {
  width: 80%;
  min-height: auto;
  height: auto;
  margin: 5vh 10% 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
body #Main_PoliticasDePrivacidade #finais h2 {
  width: 100%;
  text-align: center;
  font-family: "Now", sans-serif;
  font-weight: 900;
  font-size: 3vw;
  color: #ECECEC;
  margin-bottom: 5vh;
}
body #Main_PoliticasDePrivacidade #finais p {
  font-family: "Maven Pro", sans-serif;
  font-weight: 400;
  font-size: 1vw;
  color: #ECECEC;
  line-height: 3vh;
}
body #Main_PoliticasDePrivacidade #finais .paragrafo_listFinal {
  width: 100%;
  height: auto;
  margin: 1.5vh 0 3vh;
}
body #Main_PoliticasDePrivacidade #finais .paragrafo_listFinal h3 {
  font-family: "Maven Pro", sans-serif;
  color: #ECECEC;
  line-height: 3.5vh;
  font-size: 1.5vw;
  font-weight: 800;
}
body #Main_PoliticasDePrivacidade #finais .paragrafo_listFinal p {
  font-family: "Maven Pro", sans-serif;
  color: #ECECEC;
  line-height: 3.5vh;
  font-weight: 300;
  font-size: 0.9vw;
  margin: 2vh 0;
  padding-left: 1vw;
  position: relative;
}
body #Main_PoliticasDePrivacidade #finais .paragrafo_listFinal p span {
  font-size: 1.1vw;
  margin-right: 0.5vw;
  font-weight: 700;
}
body #Main_PoliticasDePrivacidade #finais .paragrafo_listFinal p::before {
  content: "";
  position: absolute;
  top: 20%;
  left: 0;
  width: 3px;
  height: 3px;
  background-color: #ECECEC;
  border-radius: 100%;
}
body #Main_sobre #nos {
  width: 90%;
  min-height: 100vh;
  height: auto;
  margin: 0 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 15vh 0 20vh;
}
body #Main_sobre #nos span {
  width: 100%;
  font-family: "Now", sans-serif;
  font-size: 2.5vw;
  font-weight: 900;
  color: #ECECEC;
  letter-spacing: 0.1vw;
  text-align: center;
  position: relative;
  transition: 0.75s ease-in-out all;
  opacity: 0;
}
body #Main_sobre #nos h1 {
  font-family: "Maven Pro", sans-serif;
  font-size: 1.25vw;
  font-weight: 400;
  color: #ECECEC;
  text-align: center;
  line-height: 4.5vh;
  width: 100%;
  margin: 0 0 7.5vh;
  transition: 0.75s ease-in-out all;
  opacity: 0;
}
body #Main_sobre #nos #imgNosBlock {
  width: 70%;
  height: auto;
  margin: 0 15%;
  position: relative;
}
body #Main_sobre #nos #imgNosBlock img {
  width: 100%;
  height: auto;
  mix-blend-mode: screen;
  border-radius: 1vw;
  transition: 0.75s ease-in-out all;
  opacity: 0;
}
body #Main_sobre #nos #imgNosBlock #textDescrJulia, body #Main_sobre #nos #imgNosBlock #textDescrMatheus {
  position: absolute;
  width: 27.5vw;
  height: auto;
  border-radius: 1vw;
  background-color: #ECECEC;
  padding: 3.5vh 2.4vw;
  transition: 0.75s ease-in-out all;
  opacity: 0;
}
body #Main_sobre #nos #imgNosBlock #textDescrJulia h2, body #Main_sobre #nos #imgNosBlock #textDescrJulia h3, body #Main_sobre #nos #imgNosBlock #textDescrMatheus h2, body #Main_sobre #nos #imgNosBlock #textDescrMatheus h3 {
  width: 100%;
  font-family: "Now", sans-serif;
  font-size: 1.5vw;
  font-weight: 700;
  text-align: center;
  color: #EA6637;
}
body #Main_sobre #nos #imgNosBlock #textDescrJulia p, body #Main_sobre #nos #imgNosBlock #textDescrMatheus p {
  all: unset;
  display: block;
  width: 100%;
  font-family: "Maven Pro", sans-serif;
  font-size: 1vw;
  font-weight: 400;
  color: #01112E;
  text-align: justify;
  margin-top: 2.5vh;
}
body #Main_sobre #nos #imgNosBlock #textDescrJulia {
  top: 85%;
  right: 80%;
}
body #Main_sobre #nos #imgNosBlock #textDescrMatheus {
  top: 65%;
  left: 80%;
}
body #Main_sobre #nos #imgNosBlock #textDescrMatheus p {
  font-size: 0.925vw;
}
body #Main_sobre #nos #textNos {
  margin: 20vh 0 10vh;
  margin-left: 30%;
  width: 40%;
  font-family: "Maven Pro", sans-serif;
  font-size: 1.15vw;
  font-weight: 400;
  color: #ECECEC;
  text-align: justify;
  line-height: 4vh;
}
body #Main_sobre #nos #cardsMVVBlock {
  width: 100%;
  perspective: 1000px;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
body #Main_sobre #nos #cardsMVVBlock .card-wrap {
  width: 25%;
  height: 45vh;
  margin: 1.5vw;
}
body #Main_sobre #nos #cardsMVVBlock .card-wrap .flip-card {
  width: 100%;
  height: 100%;
  position: relative;
  transform-style: preserve-3d;
  transition: all ease-in-out 0.75s;
}
body #Main_sobre #nos #cardsMVVBlock .card-wrap .flip-card .card-front, body #Main_sobre #nos #cardsMVVBlock .card-wrap .flip-card .card-back {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  bottom: 0;
  left: 0;
  background: #ECECEC;
  backface-visibility: hidden;
  border-radius: 1vw;
}
body #Main_sobre #nos #cardsMVVBlock .card-wrap .flip-card .card-front {
  z-index: 3;
  transform: rotateY(0deg);
  overflow: hidden;
  padding: 1.5vw;
}
body #Main_sobre #nos #cardsMVVBlock .card-wrap .flip-card .card-front img, body #Main_sobre #nos #cardsMVVBlock .card-wrap .flip-card .card-front svg {
  position: absolute;
  top: 5%;
  left: 5%;
  width: 4.5vw;
  height: auto;
  z-index: 3;
  animation: flikIcon 1.5s infinite ease-in-out;
}
body #Main_sobre #nos #cardsMVVBlock .card-wrap .flip-card .card-front img path, body #Main_sobre #nos #cardsMVVBlock .card-wrap .flip-card .card-front svg path {
  stroke: #01112E;
  stroke-width: 8px;
}
body #Main_sobre #nos #cardsMVVBlock .card-wrap .flip-card .card-front::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 14vh;
  background-color: #0C327B;
  top: 0;
  left: 0;
  z-index: -1;
}
body #Main_sobre #nos #cardsMVVBlock .card-wrap .flip-card .card-front h4 {
  width: 100%;
  margin: 14vh 0 2.5vh;
  font-family: "Now", sans-serif;
  font-size: 2.25vw;
  font-weight: 900;
  color: #01112E;
}
body #Main_sobre #nos #cardsMVVBlock .card-wrap .flip-card .card-front p {
  font-family: "Maven Pro", sans-serif;
  font-weight: 500;
  font-size: 1vw;
  color: #01112E;
}
body #Main_sobre #nos #cardsMVVBlock .card-wrap .flip-card .card-back {
  z-index: 2;
  transform: rotateY(180deg);
}
body #Main_sobre #nos #cardsMVVBlock .card-wrap .flip-card .card-back p {
  width: 100%;
  height: 100%;
  padding: 3vw;
  padding-top: 5vh;
  text-align: justify;
  font-family: "Maven Pro", sans-serif;
  font-weight: 500;
  font-size: 1.1vw;
  line-height: 3.25vh;
  color: #01112E;
}
body #Main_sobre #nos #cardsMVVBlock .card-wrap .rotate {
  transform: rotateY(180deg);
}
body #Main_sobre #fluxo {
  width: 87.5%;
  min-height: 100vh;
  height: auto;
  margin: 0 7.5% 0 5%;
  display: flex;
  padding: 10vh 0;
}
body #Main_sobre #fluxo #stickyHead {
  top: 20vh;
  width: 50%;
  height: 23vh;
  display: flex;
  flex-direction: column;
  position: sticky;
  position: -webkit-sticky;
}
body #Main_sobre #fluxo #stickyHead h2 {
  font-family: "Now", sans-serif;
  font-size: 2.5vw;
  font-weight: 900;
  color: #ECECEC;
  letter-spacing: 0.1vw;
  padding-right: 8vw;
  margin-bottom: 3vh;
}
body #Main_sobre #fluxo #stickyHead h3 {
  font-family: "Maven Pro", sans-serif;
  font-size: 1.1vw;
  font-weight: 400;
  color: #ECECEC;
  line-height: 3.5vh;
  padding-right: 15vw;
}
body #Main_sobre #fluxo #cardsFluxo {
  width: 50%;
  height: auto;
  display: flex;
  flex-direction: column;
}
body #Main_sobre #fluxo #cardsFluxo .cardFluxo {
  overflow: hidden;
  width: 100%;
  height: 45vh;
  background-color: #ECECEC;
  border-radius: 1vw;
  padding: 4vh 2vw;
  margin-bottom: 5vh;
  display: flex;
  flex-direction: column;
}
body #Main_sobre #fluxo #cardsFluxo .cardFluxo img, body #Main_sobre #fluxo #cardsFluxo .cardFluxo svg {
  width: 6vw;
  height: auto;
  animation: flikIcon 2s infinite ease-in-out;
}
body #Main_sobre #fluxo #cardsFluxo .cardFluxo img path, body #Main_sobre #fluxo #cardsFluxo .cardFluxo svg path {
  stroke: #EA6637;
}
body #Main_sobre #fluxo #cardsFluxo .cardFluxo h3 {
  font-family: "Now", sans-serif;
  font-size: 2.25vw;
  font-weight: 900;
  color: #0C327B;
  margin: 3.5vh 0;
}
body #Main_sobre #fluxo #cardsFluxo .cardFluxo p {
  font-family: "Maven Pro", sans-serif;
  font-size: 1vw;
  font-weight: 600;
  color: #0C327B;
  padding-right: 3vw;
}
body #Main_sobre #faq {
  width: 90%;
  min-height: 100vh;
  height: auto;
  margin: 0 5%;
  display: flex;
  flex-direction: column;
  padding: 10vh 0 10vh;
  position: relative;
}
body #Main_sobre #faq h2 {
  width: 100%;
  font-family: "Now", sans-serif;
  font-size: 2.5vw;
  font-weight: 900;
  color: #ECECEC;
  letter-spacing: 0.1vw;
  text-align: center;
}
body #Main_sobre #faq h3 {
  width: 100%;
  font-family: "Maven Pro", sans-serif;
  font-size: 1.1vw;
  font-weight: 400;
  color: #ECECEC;
  text-align: center;
  margin: 1.5vh 0;
}
body #Main_sobre #faq .perguntaBlock {
  width: 50%;
  margin: 2vh 25%;
  min-height: 8.5vh;
  height: auto;
  border-radius: 1vw;
  overflow: hidden;
}
body #Main_sobre #faq .perguntaBlock:nth-child(3) {
  margin-top: 10vh;
}
body #Main_sobre #faq .perguntaBlock button {
  background-color: #ECECEC;
  height: 8.5vh;
  width: 100%;
  text-align: left;
  padding: 1.5vw;
  font-family: "Now", sans-serif;
  font-weight: 700;
  font-size: 1.3vw;
  position: relative;
  box-shadow: 0px 0px 10px 0px rgba(1, 17, 46, 0.5);
}
body #Main_sobre #faq .perguntaBlock button::before, body #Main_sobre #faq .perguntaBlock button::after {
  content: "";
  position: absolute;
  width: 1.5vw;
  height: 5px;
  top: 47.5%;
  right: 3%;
  background-color: #EA6637;
  border-radius: 1vw;
  transform: rotate(0);
  transition: all ease-in-out 0.2s;
}
body #Main_sobre #faq .perguntaBlock button::after {
  transform: rotate(90deg);
}
body #Main_sobre #faq .perguntaBlock .flip::before, body #Main_sobre #faq .perguntaBlock .flip::after {
  transform: rotate(-45deg);
}
body #Main_sobre #faq .perguntaBlock .flip::after {
  transform: rotate(45deg);
}
body #Main_sobre #faq .perguntaBlock #FAQ1, body #Main_sobre #faq .perguntaBlock #FAQ2, body #Main_sobre #faq .perguntaBlock #FAQ3, body #Main_sobre #faq .perguntaBlock #FAQ4 {
  background-color: #C0C0C0;
  padding: 2vh 1.5vw 3vh;
  padding-right: 3.5vw;
  font-family: "Maven Pro", sans-serif;
  font-size: 1vw;
  font-weight: 400;
  color: #0C327B;
}
body #Main_sobre #cta {
  width: 90%;
  margin: 0 5%;
  min-height: 65vh;
  height: auto;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10vh 0;
}
body #Main_sobre #cta::before {
  content: "";
  position: absolute;
  width: 115.5%;
  height: 100%;
  top: 0;
  left: -10%;
  background-color: #0C327B;
  z-index: -2;
}
body #Main_sobre #cta h3 {
  width: 100%;
  font-family: "Now", sans-serif;
  font-size: 2.5vw;
  font-weight: 900;
  color: #ECECEC;
  text-align: center;
}
body #Main_sobre #cta h3 .typer {
  font-weight: 900;
  color: #EA6637;
}
body #Main_sobre #cta h3 .blink {
  color: #EA6637;
  animation: blink 0.6s infinite alternate;
}
body #Main_sobre #cta p {
  width: 100%;
  font-family: "Maven Pro", sans-serif;
  font-size: 1.2vw;
  font-weight: 400;
  color: #ECECEC;
  text-align: center;
  margin: 0.5vh 0;
}
body #Main_sobre #cta .btns {
  margin-top: 12.5vh;
}
body #Main_portfolio #body_Portfolio {
  width: 90%;
  height: auto;
  margin: 0 5%;
  padding: 15vh 0 5vh;
}
body #Main_portfolio #body_Portfolio h1 {
  width: 100%;
  font-family: "Now", sans-serif;
  font-size: 2.75vw;
  font-weight: 900;
  color: #ECECEC;
  letter-spacing: 0.1vw;
  text-align: center;
  position: relative;
  transition: 0.75s ease-in-out all;
  opacity: 0;
}
body #Main_portfolio #body_Portfolio h2 {
  font-family: "Maven Pro", sans-serif;
  font-size: 1.1vw;
  font-weight: 400;
  color: #ECECEC;
  text-align: center;
  line-height: 3vh;
  width: 75%;
  margin: 2vh 12.5% 5vh;
  transition: 0.75s ease-in-out all;
  opacity: 0;
}
body #Main_portfolio #body_Portfolio .controls {
  width: 70%;
  margin-left: 15%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  transition: 0.75s ease-in-out all;
  opacity: 0;
}
body #Main_portfolio #body_Portfolio .controls li {
  padding: 0.5vh 2vw;
  border: 2px solid #EA6637;
  font-family: "Now", sans-serif;
  font-weight: 700;
  font-size: 1.1vw;
  color: #ECECEC;
  border-radius: 2vw;
  margin: 1vh 0.5vw;
  transition: all ease-in-out 0.2s;
  cursor: pointer;
}
body #Main_portfolio #body_Portfolio .controls li:hover {
  color: #01112E;
  background-color: #EA6637;
  transform: scale(1.075);
}
body #Main_portfolio #body_Portfolio .filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  height: auto;
  margin-top: 3vh;
}
body #Main_portfolio #body_Portfolio .filter a {
  width: 45%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2vh 2.5%;
  position: relative;
}
body #Main_portfolio #body_Portfolio .filter a:nth-child(1), body #Main_portfolio #body_Portfolio .filter a:nth-child(2) {
  transition: 0.75s ease-in-out all;
  opacity: 0;
}
body #Main_portfolio #body_Portfolio .filter a img {
  width: 100%;
  height: auto;
}
body #Main_portfolio #body_Portfolio .filter a p {
  position: absolute;
  opacity: 0;
  font-family: "Now", sans-serif;
  font-weight: 900;
  font-size: 1.5vw;
  color: #ECECEC;
  transition: all ease-in-out 0.2s;
}
body #Main_portfolio #body_Portfolio .filter a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #01112E;
  opacity: 0;
  border-radius: 1vw;
  transition: all ease-in-out 0.2s;
}
body #Main_portfolio #body_Portfolio .filter a:hover img {
  filter: blur(2px);
  z-index: 1;
}
body #Main_portfolio #body_Portfolio .filter a:hover p {
  opacity: 1;
  z-index: 3;
}
body #Main_portfolio #body_Portfolio .filter a:hover::before {
  z-index: 2;
  opacity: 0.75;
}
body #Main_portfolio #ctaSimp {
  width: 90%;
  margin-left: 5%;
  min-height: 25vh;
  height: auto;
  padding: 15vh 0 25vh;
  display: flex;
}
body #Main_portfolio #ctaSimp #mensagem {
  width: 75%;
  height: auto;
}
body #Main_portfolio #ctaSimp #mensagem h3 {
  font-family: "Now", sans-serif;
  font-size: 2vw;
  color: #ECECEC;
  font-weight: 900;
  margin: 0 0 2vh;
}
body #Main_portfolio #ctaSimp #mensagem h4 {
  font-family: "Maven Pro", sans-serif;
  font-size: 1.1vw;
  color: #ECECEC;
  font-weight: 400;
}
body #Main_portfolio #ctaSimp #btnCTA {
  width: 25%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
body #Main_apresentacao .toTop .Anc path {
  fill: #EA6637;
}
body #Main_apresentacao .toTop .Anc_Q path {
  fill: #EA6637;
}
body #Main_apresentacao #apresentacao {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}
body #Main_apresentacao #apresentacao h1 {
  position: absolute;
  z-index: -1;
  opacity: 0.01;
}
body #Main_apresentacao #apresentacao img {
  width: 100%;
  height: auto;
  margin: -0.5vh 0;
}
body #Main_apresentacao #CtaProjeto {
  width: 90%;
  margin: 0 5%;
  min-height: 75vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10vh 0;
}
body #Main_apresentacao #CtaProjeto h2 {
  font-family: "Now", sans-serif;
  font-size: 3.5vw;
  font-weight: 900;
  color: #ECECEC;
  text-align: center;
  line-height: 6.5vh;
}
body #Main_apresentacao #CtaProjeto h3 {
  font-family: "Maven Pro", sans-serif;
  font-size: 1.1vw;
  font-weight: 400;
  color: #ECECEC;
  margin: 1vh 0 12.5vh;
}
body #Main_apresentacao #CtaProjeto .btns {
  font-size: 1.25vw;
}
body #Main_apresentacao #ProxProjeto {
  width: 100%;
  min-height: auto;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
body #Main_apresentacao #ProxProjeto a {
  width: 100%;
  height: 100%;
}
body #Main_apresentacao #ProxProjeto a img {
  width: 100%;
  height: auto;
}
body #Main_apresentacao #compartilha {
  width: 90%;
  margin: 0 5%;
  min-height: 75vh;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 15vh 0;
}
body #Main_apresentacao #compartilha h4 {
  font-family: "Now", sans-serif;
  font-size: 2.5vw;
  font-weight: 900;
  color: #ECECEC;
  text-align: center;
  line-height: 6.5vh;
}
body #Main_apresentacao #compartilha h5 {
  font-family: "Maven Pro", sans-serif;
  font-size: 1.1vw;
  font-weight: 400;
  color: #ECECEC;
  margin: 1vh 0 10vh;
}
body #Main_apresentacao #compartilha #links {
  width: 75%;
  margin: 0 12.5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
body #Main_apresentacao #compartilha #links a {
  width: 4.5vw;
  height: 4.5vw;
  margin: 0 1vw;
  border-radius: 10vw;
  background-color: #EA6637;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all ease-in-out 0.2s;
}
body #Main_apresentacao #compartilha #links a img, body #Main_apresentacao #compartilha #links a svg {
  width: 65%;
  height: 50%;
}
body #Main_apresentacao #compartilha #links a img path, body #Main_apresentacao #compartilha #links a svg path {
  transition: all ease-in-out 0.2s;
  stroke-width: 10px;
}
body #Main_apresentacao #compartilha #links a:hover {
  transform: scale(1.075);
}
body #Main_apresentacao #compartilha #links a:hover img path, body #Main_apresentacao #compartilha #links a:hover svg path {
  stroke: #0C327B;
}/*# sourceMappingURL=style.css.map */