@import 'colors_fonts';
@import 'base';

::-webkit-scrollbar {
    width: 0.5vw;
    background: $AzulClaro;
}
::-webkit-scrollbar-thumb {
    background: $Laranja;
}
@keyframes flikIcon{
    0%{transform: rotate(15deg);}
    50%{transform: rotate(-15deg);}
    100%{transform: rotate(15deg);}

}
@keyframes Anc_caindo {
    from {
        transform: translateY(0);
        opacity: 1;
    }
    to {
        transform: translateY(25vh);
        opacity: 0;
    }
}
@keyframes circleText {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes blink {
    0% {opacity: 1;}
    45% {opacity: 1;}
    55% {opacity: 0;}
    100% {opacity: 0;}
}
@keyframes float {
    0% {transform: translateY(0);}
    50% {transform: translateY(-10px);}
    100% {transform: translateY(0);}
}
@keyframes Under_line {
    from {
      stroke-dashoffset: 1500;
    }
    to {
      stroke-dashoffset: 0;
    }
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 99.6vw;
    min-height: 100vh;
    height: auto;
    overflow-x: hidden;
    position: relative;
    background-color: $AzulEscuro;
    .btns{
        font-family: $Second-font;
        font-size: 1vw;
        font-weight: 700;
        padding: 0.55vh 1.5vw 0.65vh;
        border-radius: 10vw;
        background-color: $Laranja;
        color: $Branco;
        transition: all ease-in-out 0.2s;
        &:hover{
            transform: scale(1.05);
        }
    }
    .btns_Out{
        background: none !important;
        border: 2px solid $Laranja;
    }
    header{
        width: 90%;
        height: 85px;
        position: fixed;
        top: 35px;
        padding: 10px 0;
        z-index: 99;
        display: flex;
        align-items: center;
        justify-content: center;
        #logo{
            height: 100%;
            width: 10%;
            display: flex;
            margin-right: auto;
            img, svg{
                width: 100%;
                height: 100%;
                object-fit: contain;
                transition: all ease-in-out 0.2s;
                &:hover{
                    transform: scale(1.05);
                }
            }
        }
        button{
            margin-left: 3vw;
            width: 3.5vw;
            height: 80%;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all ease-in-out 0.2s;
            &:hover{
                transform: scale(1.05);
            }
            span{
                width: 100%;
                height: 5.5px;
                background-color: $Branco;
                border-radius: 2vw;
                position: relative;
                &::before, &::after{
                    position: absolute;
                    content: '';
                    top: -15px;
                    left: 0;
                    width: 65%;
                    height: 100%;
                    background-color: $Branco;
                    border-radius: 2vw;
                }
                &::after{
                    right: 0;
                    left: auto;
                    top: 15px;
                }
            }
        }
        #sideMenu{
            position: absolute;
            top: -35px;
            right: -30vw;
            width: 25vw;
            height: 100vh;
            background-color: $Branco;
            z-index: 999;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            &::before{
                content: '';
                position: absolute;
                top: 0;
                right: 0;
                background-color: $Laranja;
                width: 100%;
                height: 10vh;
            }
            button{
                position: absolute;
                top: 15px;
                right: 15px;
                width: 2.5vw;
                height: 2.5vw;
                display: flex;
                align-items: center;
                justify-content: center;
                &::before, &::after{
                    content: '';
                    position: absolute;
                    width: 100%;
                    height: 6px;
                    background-color: $Branco;
                    border-radius: 3vw;
                    transform: rotate(45deg);
                }
                &::after{
                    transform: rotate(-45deg);
                }
            }
            .redes{
                position: absolute;
                top: 3vh;
                width: 3vw;
                height: 4.5vh;
                left: 37.5%;
                img, svg{
                    width: 100%;
                    height: 100%;
                    object-fit: contain;
                    path{
                        stroke-width: 10px;
                    }
                    &:hover{
                        animation: flikIcon 0.75s infinite;
                    }
                }
                &:nth-child(3){
                    left: 52.5%;
                }
            }
            .link_pgs{
                &:nth-child(4){
                    margin-top: -15vh;
                }
                width: 50%;
                font-family: $Main-font;
                font-size: 1.35vw;
                font-weight: 900;
                text-align: left;
                color: $AzulEscuro;
                margin: 3vh 0;
                display: flex;
                align-items: center;
                padding: 0.5vh 0 0.15vh;
                transition: all ease-in-out 0.2s;
                &:hover{
                    transform: scale(1.05);
                }
            }
            #foot{
                width: 90%;
                height: 5vh;
                position: absolute;
                bottom: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
                a{
                    font-family: $Second-font;
                    font-size: 0.8vw;
                    font-weight: 700;
                    color: $AzulEscuro;
                }
            }
        }
        #background_SideMenu{
            position: fixed;
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            background-color: $AzulEscuro;
            opacity: 0.75;
            z-index: 110;
        }
    }
    main{
        width: 100%;
        min-height: 100vh;
        height: auto;
        position: relative;
        section{
            width: 100%;
            min-height: 100vh;
            height: auto;
            font-family: $Main-font;
            color: $Branco;
        }
        #textura{
            width: 99.4vw;
            height: 100vh;
            position: fixed;
            z-index: -1;
            mix-blend-mode: hard-light;
            top: 0;
            left: 0;
            opacity: 0.035;
        }
        .toTop {
            position: fixed;
            right: 2vw;
            bottom: 2vh;
            z-index: 999;
            width: 2.75vw;
            height: 11vh;
            .Anc{
                width: 100%;
                height: 100%;
                path{
                    fill: $Branco;
                }
            }
            .Anc_Q{
                width: 100%;
                height: 80%;
                margin-top: auto;
                transition: all ease-in-out 2s;
                path{
                    fill: $Branco;
                }
            }
            .caindo{
                animation: Anc_caindo 1.5s;
            }
        }
    }
    footer{
        width: 100%;
        height: 55vh;
        display: flex;
        flex-wrap: wrap;
        padding: 0 5%;
        position: relative;
        &::before{
            content: '';
            position: absolute;
            width: 80%;
            height: 3px;
            left: 10%;
            top: 0;
            background-color: $Laranja;
        }
        #resume{
            width: 33%;
            height: 90%;
            padding: 7.5vh 0;
            margin-right: auto;
            display: flex;
            flex-direction: column;
            #logo_foot{
                width: 100%;
                height: 8.5vh;
                img, svg{
                    width: auto;
                    height: 100%;
                    transition: all ease-in-out 0.2s;
                    &:hover{
                        transform: scale(1.05);
                    }
                }
            }
            h4{
                font-family: $Second-font;
                font-size: 1vw;
                font-weight: 500;
                color: $Branco;
                line-height: 3vh;
                width: 100%;
                margin-top: 3vh;
                padding-right: 9.5vw;
            }
            #redes{
                width: 100%;
                height: 4vh;
                display: flex;
                margin-top: 7.5vh;
                a{
                    width: 3vw;
                    height: 100%;
                    margin-right: 2vw;
                    img, svg{
                        width: auto;
                        height: 100%;
                        path{
                            stroke-width: 10px;
                        }
                        &:hover{
                            animation: flikIcon 1s infinite;
                        }
                    }
                }
            }
        }
        #LinksRapido{
            width: 33%;
            height: 90%;
            padding: 7.5vh 0;
            display: flex;
            flex-direction: column;
            h4{
                font-family: $Main-font;
                font-size: 1.75vw;
                font-weight: 900;
                color: $Branco;
                width: 100%;
            }
            a{
                &:nth-child(2){ margin-top: 4vh; }
                font-family: $Second-font;
                font-size: 1.15vw;
                font-weight: 400;
                color: $Branco;
                width: 50%;
                margin: 1.75vh 0;
                transition: all ease-in-out 0.2s;
                &:hover{
                    transform: scale(1.05);
                    margin-left: 0.5vw;
                    color: $Laranja;
                }
            }
        }
        p{
            width: 100%;
            height: 10%;
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: $Main-font;
            font-size: 1vw;
            font-weight: 700;
            color: $Branco;
            span{
                margin: 0 0.25vw;
                font-family: $Main-font;
                font-size: 1vw;
                font-weight: 700;
            }
        }
    }

    #Main_index{
        #home{
            height: 100vh;
            position: relative;
            display: flex;
            align-items: center;
            padding: 0 5%;
            #background_home{
                position: absolute;
                width: 94.5vw;
                height: 100%;
                object-fit: cover;
                z-index: -1;
            }
            #astronauta{
                margin-top: auto;
                width: 30vw;
                padding: 0 1.5vw;
                animation: float infinite 3s ease-in-out;
                z-index: 2;
            }
            #TitleBlock{
                display: flex;
                flex-wrap: wrap;
                padding-left: 5vw;
                h1{
                    width: 100%;
                    font-family: $Main-font;
                    font-weight: 900;
                    color: $Branco;
                    font-size: 4vw;
                    line-height: 6.5vh;
                    animation: float infinite 2.5s ease-in-out;
                }
                h2{
                    width: 100%;
                    font-family: $Second-font;
                    font-weight: 400;
                    color: $Branco;
                    font-size: 1.35vw;
                    line-height: 3.5vh;
                    padding-right: 15vw;
                    margin: 5vh 0 7.5vh;
                    animation: float infinite 2.5s ease-in-out;
                }
                .btn_homePortfolio{
                    margin-right: 1.5vw;
                    padding: 0.6vh 2vw 0.65vh;
                }
            }
            &::before{
                content: '';
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 10vh;
                z-index: 10;
                background: linear-gradient(180deg, rgba(1,17,46,0) 0%, rgba(1,17,46,1) 90%);
            }
        }
        #cases{
            min-height: 100vh;
            height: auto;
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 7.5vh 0 10vh;
            h2{
                width: 90%;
                margin: 0 5%;
                font-family: $Main-font;
                font-size: 2.5vw;
                font-weight: 900;
                color: $Branco;
                letter-spacing: 0.1vw;
            }
            h3{
                width: 90%;
                margin: 0.5vh 5%;
                font-family: $Second-font;
                font-size: 1.1vw;
                font-weight: 400;
                color: $Branco;
            }
            .caseBlock{
                width: 100%;
                height: auto;
                margin: 5vh 0 2vh;
                display: flex;
                .infos{
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    padding-left: 10vw;
                    p{
                        font-family: $Second-font;
                        font-size: 2vw;
                        font-weight: 400;
                        color: $Branco;
                        line-height: 4vh;
                        animation: float infinite 3s ease-in-out;
                    }
                    h3{
                        all: unset;
                        font-family: $Second-font;
                        font-size: 1.4vw;
                        font-weight: 700;
                        color: $Branco;
                        margin: 3vh 0 8vh;
                        animation: float infinite 3s ease-in-out;
                    }
                    .btns{
                        padding: 0.45vh 3.5vw 0.55vh;
                    }
                }
                .InfoRight{
                    align-items: flex-end;
                    padding-left: 0;
                    padding-right: 10vw;

                }
                img{
                    width: 50%;
                    height: auto;
                }
            }
            .btn_case{
                font-size: 1.25vw;
                margin-top: 10vh;
            }
        }
        #fluxo{
            width: 87.5%;
            min-height: 100vh;
            height: auto;
            margin: 0 7.5% 0 5%;
            display: flex;
            padding: 10vh 0;
            #stickyHead{
                top: 20vh;
                width: 50%;
                height: 23vh;
                display: flex;
                flex-direction: column;
                position: sticky;
                position: -webkit-sticky;
                h2{
                    font-family: $Main-font;
                    font-size: 2.5vw;
                    font-weight: 900;
                    color: $Branco;
                    letter-spacing: 0.1vw;
                    padding-right: 8vw;
                    margin-bottom: 3vh;
                }
                h3{
                    font-family: $Second-font;
                    font-size: 1.1vw;
                    font-weight: 400;
                    color: $Branco;
                    line-height: 3.5vh;
                    padding-right: 15vw;
                }
            }
            #cardsFluxo{
                width: 50%;
                height: auto;
                display: flex;
                flex-direction: column;
                .cardFluxo{
                    overflow: hidden;
                    width: 100%;
                    height: 45vh;
                    background-color: $Branco;
                    border-radius: 1vw;
                    padding: 4vh 2vw;
                    margin-bottom: 5vh;
                    display: flex;
                    flex-direction: column;
                    img, svg{
                        width: 6vw;
                        height: auto;
                        animation: flikIcon 2s infinite ease-in-out;
                        path{
                            stroke: $Laranja;
                        }
                    }
                    h3{
                        font-family: $Main-font;
                        font-size: 2.25vw;
                        font-weight: 900;
                        color: $AzulClaro;
                        margin: 3.5vh 0;
                    }
                    p{
                        font-family: $Second-font;
                        font-size: 1vw;
                        font-weight: 600;
                        color: $AzulClaro;
                        padding-right: 3vw;
                    }
                }
            }
        }
        #entrega{
            width: 90%;
            margin: 0 5%;
            min-height: 75vh;
            height: auto;
            position: relative;
            padding: 10vh 0;
            &::before{
                content: '';
                position: absolute;
                width: 115.5%;
                height: 100%;
                top: 0;
                left: -10%;
                background-color: $AzulClaro;
                z-index: -2;
            }
            h2{
                width: 100%;
                font-family: $Main-font;
                font-size: 2.5vw;
                font-weight: 900;
                color: $Branco;
                letter-spacing: 0.1vw;
                text-align: center;
            }
            h3{
                width: 100%;
                font-family: $Second-font;
                font-size: 1.1vw;
                font-weight: 400;
                color: $Branco;
                text-align: center;
                margin:  1vh 0;
            }
            #cardsEntrega{
                width: 100%;
                height: auto;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-top: 5vh;
                .cardEntrega{
                    width: 25%;
                    height: 34vh;
                    background-color: $Branco;
                    overflow: hidden;
                    border-radius: 1vw;
                    position: relative;
                    padding: 1.5vw;
                    box-shadow: 0px 0px 15px 0px rgba(1, 17, 46, 0.5);
                    &:nth-child(2){ 
                        margin: 0 2vw; 
                        img,svg{
                            animation: flikIcon infinite 1.75s ease-in-out;
                        }
                    }
                    &:nth-child(3){ 
                        img,svg{
                            animation: flikIcon infinite 1.65s ease-in-out backwards;
                        }
                    }
                    &::before{
                        content: '';
                        position: absolute;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 40%;
                        background-color: $Laranja;
                        z-index: 1;
                    }
                    img, svg{
                        z-index: 5 !important;
                        width: auto;
                        height: 9vh;
                        position: absolute;
                        top: 2.25vh;
                        left: 2vw;
                        animation: flikIcon infinite 1.5s ease-in-out;
                        path{
                            stroke: $AzulEscuro;
                            stroke-width: 7px;
                        }
                    }
                    h4{
                        font-family: $Main-font;
                        font-size: 1.35vw;
                        font-weight: 900;
                        color: $AzulEscuro;
                        margin-top: 14vh;
                        line-height: 3vh;
                    }
                    p{
                        font-family: $Second-font;
                        font-size: 1vw;
                        font-weight: 400;
                        color: $AzulEscuro;
                        margin-top: 2vh;
                        padding-right: 3vw;

                    }
                }
            }
        }
        #nos{
            width: 90%;
            min-height: 100vh;
            height: auto;
            margin: 0 5%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            padding: 10vh 0 20vh;
            h2{
                width: 100%;
                font-family: $Main-font;
                font-size: 2.5vw;
                font-weight: 900;
                color: $Branco;
                letter-spacing: 0.1vw;
                text-align: center;
                position: relative;
                #underline{
                    position: absolute;
                    top: 60%;
                    right: 37.5%;
                    width: 8vw;
                    height: auto;
                    img, svg{
                        width: 100%;
                        height: auto;
                        path{
                            stroke-dasharray: 1000;
                            stroke-dashoffset: 1000;
                        }
                    }
                }
                .animateUnderline{
                    img, svg{
                        path{
                            animation: Under_line 1s linear alternate forwards;
                        }
                    }
                }
            }
            p{
                font-family: $Second-font;
                font-size: 1.35vw;
                font-weight: 400;
                color: $Branco;
                text-align: center;
                line-height: 4.5vh;
                width: 50%;
                margin: 6vh 25% 7.5vh;
            }
            #imgNosBlock{
                width: 70%;
                height: auto;
                margin: 0 15%;
                position: relative;
                img{
                    width: 100%;
                    height: auto;
                    mix-blend-mode: plus-lighter;
                    border-radius: 1vw;
                }
                #textDescrJulia, #textDescrMatheus{
                    position: absolute;
                    width: 27.5vw;
                    height: 20vh;
                    border-radius: 1vw;
                    background-color: $Branco;
                    padding: 1.5vw 2.4vw;
                    h3{
                        width: 100%;
                        font-family: $Main-font;
                        font-size: 1.5vw;
                        font-weight: 700;
                        text-align: center;
                        color: $Laranja;
                    }
                    p{
                        all: unset;
                        display: block;
                        width: 100%;
                        font-family: $Second-font;
                        font-size: 1vw;
                        font-weight: 400;
                        color: $AzulEscuro;
                        text-align: justify;
                        margin-top: 2.5vh;
                    }
                }
                #textDescrJulia{
                    top: 85%;
                    right: 80%;
                }
                #textDescrMatheus{
                    top: 65%;
                    left: 80%;
                    p{
                        font-size: 0.925vw;
                    }
                }
            }
        }
        #contato{
            width: 90%;
            margin: 0 5%;
            min-height: 80vh;
            height: auto;
            position: relative;
            padding: 7.5vh 0;
            display: flex;
            flex-wrap: wrap;
            &::before{
                content: '';
                position: absolute;
                width: 115.5%;
                height: 100%;
                top: 0;
                left: -10%;
                background-color: $Cinzinha;
                z-index: -2;
            }
            h2{
                width: 100%;
                font-family: $Main-font;
                font-size: 2.5vw;
                font-weight: 900;
                color: $AzulEscuro;
                letter-spacing: 0.1vw;
            }
            h3{
                width: 100%;
                margin: 0.5vh 0;
                font-family: $Second-font;
                font-size: 1.1vw;
                font-weight: 400;
                color: $AzulEscuro;
            }
            #redesContato{
                width: 60%;
                height: 50vh;
                display: flex;
                flex-direction: column;
                justify-content: center;
                a{
                    display: flex;
                    width: 100%;
                    margin: 1.75vh 0;
                    align-items: center;
                    img,svg{    
                        width: 2.5vw;
                        height: auto;
                        path{
                            stroke: $AzulClaro;
                            stroke-width: 10px;
                        }
                    }
                    p{
                        font-family: $Second-font;
                        font-size: 1.1vw;
                        font-weight: 500;
                        margin-left: 1.25vw;
                        color: $AzulClaro;
                    }
                    &:hover{
                        img,svg{
                            animation: flikIcon 0.75s infinite;
                        }
                        p{
                            color: $Laranja;
                        }
                    }
                }
            }
            #formBlock{
                transform: translateY(-10vh);
                width: 40%;
                height: 50vh;
                position: relative;
                h3{
                    all: unset;
                    display: block;
                    width: 100%;
                    text-align: center;
                    font-family: $Main-font;
                    font-weight: 700;
                    color: $AzulEscuro;
                    font-size: 1.25vw;
                }
                form{
                    width: 75%;
                    height: 100%;
                    margin: 0 12.5%;
                    margin-top: 2vh;
                    display: flex;
                    flex-direction: column;
                    position: relative;
                    border-radius: 1vw;
                    padding: 1vh 2.5vw;
                    background-color: $Cinzao;
                    .BlockBox{
                        width: 100%;
                        height: 10%;
                        position: relative;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        margin: 2vh 0;
                        label{
                            opacity: 0;
                            z-index: -1;
                            position: absolute;
                        }
                        input, textarea{
                            width: 100% !important;
                            height: 100%;
                            border: none;
                            background: none;
                            outline: none;
                            resize: none;
                            padding: 0 1.25vw;
                            font-family: $Second-font;
                            font-weight: 300;
                            font-size: 0.9vw;
                            color: $Branco;
                            border-bottom: 3px solid $Branco;
                        }
                        p, span{
                            position: absolute;
                            left: 1vw;
                            top: 10%;
                            font-family: $Second-font;
                            font-weight: 700;
                            font-size: 1.05vw;
                            color: $Branco;
                            transition: 0.5s;
                            pointer-events: none;
                            display: flex;
                            flex-direction: row;
                        }
                        &:nth-child(1){
                            span{
                                font-size: 1.1vw;
                                left: 9.25vw;
                                top: 5%;
                                color: $AzulEscuro;
                            }
                        }
                        &:nth-child(2){
                            span{
                                font-size: 1.1vw;
                                left: 4.75vw;
                                top: 5%;
                                color: $AzulEscuro;
                            }
                        }
                        &:nth-child(4){
                            height: 22.5%;
                            margin-top: 1vh;
                            input, textarea{
                                height: 90%;
                                padding: 0.75vh 3vw 0.75vh 1.25vw;
                                padding-right: 3vw;
                                line-height: 3vh;
                            }
                            p{
                                top: 20%;
                            }
                        }
                    }
                    .BlockBox input:focus ~ p, input:valid ~ p, textarea:focus ~ p, textarea:valid ~ p{
                        transform:translate(-0.75vw, -2.5vh);
                        font-size: 0.9vw;
                    }
                    .BlockBox input:focus ~ span, input:valid ~ span{
                        transform:translate(-1.5vw, -2.5vh);
                        font-size: 0.9vw;
                    }
                    button{
                        width: 60%;
                        position: absolute;
                        top: 87.5%;
                        left: 20%;
                    }
                }
                #msg_form{
                    position: absolute;
                    top: 100%;
                    left: 0;
                    width: 100%;
                    max-height: 9vh;
                    height: auto;
                    overflow: auto;
                    padding: 1vh 1vw;
                    font-family: $Second-font;
                    font-weight: 900;
                    font-size: 0.8vw;
                    text-align: center;
                    color: $AzulEscuro;
                }
            }
        }
        #faq{
            width: 90%;
            min-height: 100vh;
            height: auto;
            margin: 0 5%;
            display: flex;
            flex-direction: column;
            padding: 7.5vh 0 10vh;
            position: relative;
            h2{
                width: 100%;
                font-family: $Main-font;
                font-size: 2.5vw;
                font-weight: 900;
                color: $Branco;
                letter-spacing: 0.1vw;
                text-align: center;
            }
            h3{
                width: 100%;
                font-family: $Second-font;
                font-size: 1.1vw;
                font-weight: 400;
                color: $Branco;
                text-align: center;
                margin: 1.5vh 0;
            }
            .perguntaBlock{
                width: 50%;
                margin: 1.75vh 25%;
                min-height: 8.5vh;
                height: auto;
                border-radius: 1vw;
                overflow: hidden;
                &:nth-child(3){
                    margin-top: 6vh;
                }
                button{
                    background-color: $Branco;
                    height: 8.5vh;
                    width: 100%;
                    text-align: left;
                    padding: 1.5vw;
                    font-family: $Main-font;
                    font-weight: 700;
                    font-size: 1.3vw;
                    position: relative;
                    box-shadow: 0px 0px 10px 0px rgba(1, 17, 46, 0.5);
                    &::before, &::after{
                        content: '';
                        position: absolute;
                        width: 1.5vw;
                        height: 5px;
                        top: 47.5%;
                        right: 3%;
                        background-color: $Laranja;
                        border-radius: 1vw;
                        transform: rotate(0);
                        transition: all ease-in-out 0.2s;
                    }
                    &::after{
                        transform: rotate(90deg);
                    }
                }
                .flip{
                    &::before, &::after{
                        transform: rotate(-45deg);
                    }
                    &::after{
                        transform: rotate(45deg);
                    }
                }
                #FAQ1, #FAQ2, #FAQ3, #FAQ4{
                    background-color: $Cinzinha;
                    padding: 2vh 1.5vw 3vh;
                    padding-right: 3.5vw;
                    font-family: $Second-font;
                    font-size: 1vw;
                    font-weight: 400;
                    color: $AzulClaro;
                }
            }
            .btnFAQ{
                position: absolute;
                top: 75%;
                left: 0%;
                display: flex;
                align-items: center;
                justify-content: center;
                #QuastionText{
                    position: absolute;
                    font-family: $Main-font;
                    font-weight: 900;
                    font-size: 6.5vw;
                    color: $Branco;
                    top: -3%;
                }
                #CircularText{
                    height: 150px;
                    width: 150px;
                    position: relative;
                    animation: circleText 30s linear infinite;
                    span{
                        position: absolute;
                        left: 50%;
                        transform-origin: 0px 75px;
                        font-family: $Main-font;
                        text-transform: uppercase;
                        font-weight: 500;
                        font-size: 0.6vw;
                        color: $Branco;
                    }
                }
            }
            #ModalResumoFAQ{
                background-color: none;
                .modal-dialog{
                    width: 75vw;
                    height: 80vh;
                    margin: 9vh 0 9vh 15vw;
                    border-radius: 1vw;
                    overflow: hidden;
                    .modal-content{
                        border-radius: 0;
                        background-color: $Cinzinha;
                        width: 75vw;
                        height: 80vh;
                        display: flex;
                        flex-wrap: wrap;
                        padding: 2vh 2vw;
                        justify-content: space-around;
                        flex-direction: unset;
                        .CloseModal{
                            position: absolute;
                            top: 1.5vh;
                            right: 0.75vw;
                            width: 2.5vw;
                            height: 2.5vw;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            transition: all ease-in-out 0.2s;
                            cursor: pointer;
                            z-index: 999 !important;
                            &::before, &::after{
                                content: '';
                                position: absolute;
                                width: 2vw;
                                height: 5px;
                                background-color: $Laranja;
                                border-radius: 1vw;
                                transform: rotate(-45deg);
                            }
                            &::after{
                                transform: rotate(45deg);
                            }
                            &:hover{
                                transform: scale(1.1);
                            }
                        }
                        h3{
                            font-family: $Main-font;
                            font-size: 2.25vw;
                            font-weight: 900;
                            line-height: 4.5vh;
                            color: $AzulEscuro;
                            width: 100%;
                            text-align: left;
                        }
                        .cardModal{
                            all: unset;
                            background-color: $Cinzao;
                            width: 45%;
                            height: 27.5vh;
                            border-radius: 1vw;
                            padding: 2vw;
                            h4{
                                font-family: $Main-font;
                                font-weight: 900;
                                font-size: 1.75vw;
                                color: $AzulEscuro;
                                margin-bottom: 2vh;
                            }
                            p{
                                font-family: $Second-font;
                                font-weight: 400;
                                font-size: 0.85vw;
                                color: $AzulEscuro;
                                line-height: 2.5vh;
                            }
                        }
                    }
                }
            }
        }
        #cta{
            width: 90%;
            margin: 0 5%;
            min-height: 65vh;
            height: auto;
            position: relative;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 10vh 0;
            &::before{
                content: '';
                position: absolute;
                width: 115.5%;
                height: 100%;
                top: 0;
                left: -10%;
                background-color: $AzulClaro;
                z-index: -2;
            }
            h3{
                width: 100%;
                font-family: $Main-font;
                font-size: 2.5vw;
                font-weight: 900;
                color: $Branco;
                text-align: center;
                .typer {
                    font-weight: 900;
                    color: $Laranja;
                }
                .blink {
                    color: $Laranja;
                    animation: blink 0.6s infinite alternate;
                }
            }
            p{
                width: 100%;
                font-family: $Second-font;
                font-size: 1.2vw;
                font-weight: 400;
                color: $Branco;
                text-align: center;
                margin: 0.5vh 0;
            }
            .btns{
                margin-top: 12.5vh;
            }
        }
    }
    
}

@media only screen and (max-width: 479px){
    
}