RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# RewriteRule ^especialidade_de_(.*)$ tratamentos.php?nome=$1 [L]
# RewriteRule ^medico_(.*)$ equipe_detalhes.php?nome=$1 [L]
# RewriteRule ^tratamento_de_(.*)$ tratamentos_detalhes.php?nome=$1 [L]
# RewriteRule ^postagem_(.*)$ blog_post.php?nome=$1 [L]
# RewriteRule ^blog_tag_(.*)$ blog.php?nome=$1 [L]

# RewriteRule ^sistema(.*)$ https://www.onemedicalgroup.com.br/Sistema [L]

RewriteCond %{REQUEST_FILENAME}\.php -f
RewriteRule ^(.*)$ $1.php

RewriteCond %{REQUEST_FILENAME}\.html -f
RewriteRule ^(.*)$ $1.html

ErrorDocument 404 /404.html

# Um ano para arquivos de imagem
<filesMatch ".(jpg|jpeg|png|gif|ico|svg|otf|woff2)$">
Header set Cache-Control "max-age=31536000, public"
</filesMatch>

# Um mês para css e js
<filesMatch ".(css|js|php|html)$">
Header set Cache-Control "max-age=3000000, public"
</filesMatch>

AddHandler application/x-httpd-ea-php82___lsphp .php .php8 .phtml