@font-face{
    font-family: "Chunk";
    font-weight: 500;
    src:url(../../assets/fonts/ChunkFive-Regular.otf);
}

@font-face {
    font-family: 'Fraunces';
    src:url(../../assets/fonts/Fraunces.ttf);
  }


$Main-font:'Chunk', sans-serif;
$Title-font:'Fraunces', cursive;

$Blue1:#417CEA;
$Blue2:#0D56DF;
$Blue3:#1A3C7D;
$Blue4:#06296B;
$Blue5:#05183C;

$Orange1:#FF9460;
$Orange2:#FF6D2A;
$Orange3:#FC5500;
$Orange4:#EE4A00;
 
$Gray:#E4DEDE;
$White:#FFFFFF;